<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/loginLayout" th:with="mode='login'">
<body id="login">
<div class="login-wrap" layout:fragment="login">
    <div class="login-box">
		<h1 class="brand"><img src="/images/brand.png" /></h1>
        <form id="frm" onsubmit="return login.checkCode();">
            <label>
                <input type="text" id="joinCode" name="joinCode" autofocus="autofocus" placeholder="추천인코드"/>
            </label>
            <div class="command">
                <button class="btn-login">확인</button>
                <a class="btn-join" href="/">취소</a>
            </div>
        </form>
        <div class="copyright">Copyright [[${siteConfig.since}]] <span th:text="'&copy; ' + ${siteConfig.companyName} + '.'">회사명</span> All Rights Reserved.</div>
    </div>
</div>
<script layout:fragment="script" th:if="true">
    var config = [(${config})];

    // window.setInterval(function () {
    //     $('#login-bg div').last().fadeOut(2000, function () {
    //         $('#login-bg div').last().prependTo($('#login-bg')).show();
    //     })
    // }, 5000);
</script>
</body>
</html>