<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='zone', lnb='bitcoin3', pnb='complete'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>실시간 :</small>
	비트코인 3분 등록완료
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bars" aria-hidden="true"></i>
				비트코인 3분 등록완료
                <span th:class="${config.enabled} ? 'color02' : 'color03'" th:text="${config.enabled} ? '(게임 실행 중)' : '(게임 중지 중)'">게임실행중</span>
                <a class="btn btn03" onclick="closingAll();" style="width: 200px;"><i class="fa fa-download"></i> 베팅 없는 경기 결과처리</a>
            </h3>
        </div>
        <table class="table-list table-game table-zone">
            <caption>비트코인 3분 등록완료</caption>
            <colgroup>
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col>
                <col style="width: 100px;">
                <col>
                <col style="width: 120px;">
            </colgroup>
            <tbody th:each="g,num: ${list}" th:class="${num.count > 1} ? 'box'" th:with="round = ${tag.num(g.round)} + '회차 '">
            <tr>
                <td rowspan="8" th:utext="${tag.dayWeekTime(g.gameDate)}">27(월)</td>
                <td rowspan="8" th:class="${not g.beforeGameDate} ? 'color03' : 'color01'" th:text="${tag.num(g.round)} + ' 회차'"></td>
                <td class="color02">고가 홀/짝</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '고가 [홀]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[0], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[0] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[0] gt 0 ? #numbers.formatInteger(g.amount[0], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="vs">VS</td>
                <td class="away">
                    <p>
                        <span th:text="${round} + '고가 [짝]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[1], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[1] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[1] gt 0 ? #numbers.formatInteger(g.amount[1], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td rowspan="8">
                    <a th:class="${g.beforeGameDate} ? 'btn btn03' : 'btn btn02'" th:onclick="'closingBitcoin(' + ${g.id} + ');'">결과</a>
                </td>
            </tr>
            <tr>
                <td class="color02">고가 오버/언더</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '고가 [오버]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[2], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[2] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[2] gt 0 ? #numbers.formatInteger(g.amount[2], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="vs">VS</td>
                <td class="away">
                    <p>
                        <span th:text="${round} + '고가 [언더]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[3], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[3] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[3] gt 0 ? #numbers.formatInteger(g.amount[3], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="color02">저가 홀/짝</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '저가 [홀]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[4], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[4] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[4] gt 0 ? #numbers.formatInteger(g.amount[4], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="vs">VS</td>
                <td class="away">
                    <p>
                        <span th:text="${round} + '저가 [짝]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[5], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[5] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[5] gt 0 ? #numbers.formatInteger(g.amount[5], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
			<tr>
				<td class="color02">저가 오버/언더</td>
				<td class="home">
					<p>
						<span th:text="${round} + '저가 [오버]'"></span>
						<span class="odds" th:text="${#numbers.formatDecimal(g.odds[6], 0, 2, 'DEFAULT')}"></span>
					</p>
					<a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[6] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[6] gt 0 ? #numbers.formatInteger(g.amount[6], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
				</td>
				<td class="vs">VS</td>
				<td class="away">
					<p>
						<span th:text="${round} + '저가 [언더]'"></span>
						<span class="odds" th:text="${#numbers.formatDecimal(g.odds[7], 0, 2, 'DEFAULT')}"></span>
					</p>
					<a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[7] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[7] gt 0 ? #numbers.formatInteger(g.amount[7], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
				</td>
			</tr>
            <tr>
                <td rowspan="2" class="color02">고가 홀짝/오버언더</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '고가 [홀/오버]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[8], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[8] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[8] gt 0 ? #numbers.formatInteger(g.amount[8], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td rowspan="2" class="vs">VS</td>
                <td class="away">
                    <p>
                        <span th:text="${round} + '고가 [홀/언더]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[9], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[9] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[9] gt 0 ? #numbers.formatInteger(g.amount[9], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="${round} + '고가 [짝/오버]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[10], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[10] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[10] gt 0 ? #numbers.formatInteger(g.amount[10], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="away">
                    <p>
                        <span th:text="${round} + '고가 [짝/언더]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[11], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[11] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[11] gt 0 ? #numbers.formatInteger(g.amount[11], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
			<tr>
				<td rowspan="2" class="color02">저가 홀짝/오버언더</td>
				<td class="home">
					<p>
						<span th:text="${round} + '저가 [홀/오버]'"></span>
						<span class="odds" th:text="${#numbers.formatDecimal(g.odds[12], 0, 2, 'DEFAULT')}"></span>
					</p>
					<a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[12] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[12] gt 0 ? #numbers.formatInteger(g.amount[12], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
				</td>
				<td rowspan="2" class="vs">VS</td>
				<td class="away">
					<p>
						<span th:text="${round} + '저가 [홀/언더]'"></span>
						<span class="odds" th:text="${#numbers.formatDecimal(g.odds[13], 0, 2, 'DEFAULT')}"></span>
					</p>
					<a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[13] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[13] gt 0 ? #numbers.formatInteger(g.amount[13], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
				</td>
			</tr>
			<tr>
				<td class="home">
					<p>
						<span th:text="${round} + '저가 [짝/오버]'"></span>
						<span class="odds" th:text="${#numbers.formatDecimal(g.odds[14], 0, 2, 'DEFAULT')}"></span>
					</p>
					<a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[14] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[14] gt 0 ? #numbers.formatInteger(g.amount[14], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
				</td>
				<td class="away">
					<p>
						<span th:text="${round} + '저가 [짝/언더]'"></span>
						<span class="odds" th:text="${#numbers.formatDecimal(g.odds[15], 0, 2, 'DEFAULT')}"></span>
					</p>
					<a th:onclick="|popup.betting.zone('bitcoin3', ${g.sdate});|" th:class="${g.amount[15] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[15] gt 0 ? #numbers.formatInteger(g.amount[15], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
				</td>
			</tr>
            <tr th:if="${list.empty}">
                <td colspan="7" class="empty">
                    등록된 비트코인 1분 경기가 없습니다.
                </td>
            </tr>
        </table>

        <div class="panel-footer">

        </div>

    </section>
</div>
<script layout:fragment="script" th:if="true">
    function closingBitcoin(id) {
        window.open(path + '/zone/bitcoin3/score?id=' + id, 'popup-dari', 'width=900, height=950');
    }

    function closingAll() {
        $.post(path + '/zone/bitcoin3/closing').done(function (data) {
            if (data.success) {
                setTimeout(function () {
                    location.reload();
                }, 1000);
            }
        });
    }
</script>
</body>
</html>