body.popup {

    height auto
    min-height 100%

    background #111

    main {
        width 100%
        min-width auto
        margin 0
        padding 20px
        min-height 100%
        top auto

        div.paging {
            text-align center
            background transparent
            border solid 1px rgba(255, 255, 255, 0.1)
            border-top none
        }

        div.panel-footer {
            background transparent
        }
    }

    #flashMessage {
        min-width auto
        max-width auto

        div {
            border-radius 0 0 0 4px
            padding-right 20px
        }
    }
}