<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='evolution', lnb='bet'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>카지노 :</small>
    베팅 내역
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/casino/evolution/bet|}" method="get">
                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <label>
                    아이디/닉네임 :
                    <input type="text" th:field="*{userid}" />
                </label>
				<label>
					카지노아이디 :
					<input type="text" th:field="*{casinoId}" />
				</label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/casino/evolution/bet|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-cog"></i>
                <span>카지노 베팅 내역</span>
                <span class="total">( 검색된 내역수 : <span th:text="${tag.num(page.totalElements)}">100</span> 건 )</span>
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>
                <col>
                <col>
                <col>
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th>등급</th>
                <th colspan="4">회원정보</th>
                <th>게임사</th>
                <th>게임종류</th>
				<th>회차</th>
                <th>베팅금</th>
				<th>적중금</th>
                <th>결과</th>
                <th>베팅시각</th>
                <th>카지노아이디</th>
            </tr>
            </thead>
            <tbody id="money-body">
            <tr th:each="m,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
                <td th:text="${total - num.count}">1</td>
                <td class="popup color03" th:onclick="|popup.member.info('${m.userid}');|" th:text="${m.userid}">아이디</td>
                <td class="popup color02" th:onclick="|popup.member.info('${m.userid}');|" th:text="${m.nickname}">닉네임</td>
                <td th:text="${m.level}">5</td>
                <td class="popup color04" th:onclick="|popup.payment.money('${m.userid}');|"><i class="bul fa fa fa-usd"></i></td>
                <td class="popup color04" th:onclick="|popup.payment.point('${m.userid}');|"><i class="bul fa fa-product-hunt"></i></td>
                <td class="popup color04" th:onclick="|popup.betting.list('${m.userid}');|"><i class="bul fa fa-shopping-cart"></i></td>
                <td class="popup color04" th:onclick="|popup.customer.memo('${m.userid}');|"><i class="bul fa fa-envelope-o"></i></td>
                <td th:text="${m.vendor}">게임사</td>
                <td th:text="${m.gameType}">게임종류</td>
				<td th:text="${m.round}">회차</td>
                <td class="num" th:text="${tag.num(m.betMoney)}">베팅금</td>
				<td class="num" th:text="${tag.num(m.winMoney)}">베팅금</td>
                <td class="num color0" th:text="${m.type}">최종머니</td>
                <td th:utext="${tag.dayWeekTimesUTD(m.regDate)}"></td>
                <td th:text="${m.casinoId}"></td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

</script>
</body>
</html>
