<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='betting'">
<body>

<section layout:fragment="section">
    <h3>베팅내역</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/betting|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

<!--	<div class="tab-menu">-->
<!--		<a th:href="@{|${siteConfig.pathSite}/betting|}" class="tab-menu-item on">스포츠/미니게임</a>-->
<!--		<a th:href="@{|${siteConfig.pathSite}/betting/inplay|}" class="tab-menu-item">인플레이</a>-->
<!--	</div>-->

    <div class="box">
        <h4>베팅취소 안내</h4>
        <p>
            베팅취소는 베팅시각으로부터 <span class="color02" th:text="${gameConfig.cancelBetTime + '분 이내'}">60분 이내</span>
            경기시작시간 <span class="color02" th:text="${gameConfig.cancelGameTime + '분전'}">1분전</span>까지,
            하루 최대 <span class="color03" th:text="${gameConfig.cancelMax + '회'}">10회</span> 가능합니다.<br/>
            베팅취소 후 복구가 불가능하며, 취소된 베팅금액은 보유머니로 적립됩니다.<br/>
            베팅내역 삭제는 모든 경기가 종료된 이후 가능하며 <span class="color02">삭제된 내역은 복구가 불가</span> 합니다.<br/>
            <span class="color03">고객센터를 통한 베팅취소는 절대 불가</span>하며 직접 취소만 인정 됩니다.
            <br/><br/>
            <span class="color01">베팅내역은 최대 일주일치만 확인 하실 수 있습니다.</span>
        </p>
<!--		<div style="text-align: right;">-->
<!--		<a href="#" class="btn btn-box btn01" style="position: static" onclick="addBoard();">선택항목 내역등록</a>-->
<!--        <a href="#" class="btn btn-box btn03" onclick="addQna();" style="position: static">고객센터 내역등록</a>-->
<!--        <a href="#" class="btn btn-box btn02" onclick="goDeleteClosing();" style="position: static">종료내역 전체삭제</a>-->
<!--		</div>-->
    </div>
    <br/><br/>
    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col style="width: 190px;">
            <col>
            <col style="width: 36px;">
            <col style="width: 218px;">
            <col style="width: 50px;">
            <col>
            <col style="width: 50px;">
            <col style="width: 218px;">
            <col style="width: 36px;">
            <col style="width: 70px;">
        </colgroup>
        <tbody class="betBody" th:each="b : ${page.content}">
        <tr>
            <th>경기정보</th>
            <th>베팅타입</th>
            <th colspan="3">홈팀</th>
            <th>무</th>
            <th colspan="3">원정팀</th>
            <th>결과</th>
        </tr>
        <tr class="item" th:each="item : ${b.betItems}">
            <td class="date" th:title="${item.league}">
                <img th:src="@{|${tag.sportsFlag(item)}|}"/>
                <img th:src="@{|${tag.leagueFlag(item)}|}" style="max-height: 17px;"/>
                <span th:remove="tag" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
            </td>
            <td class="type">
                <span th:text="${item.gameCode.name() eq 'ZONE' ? (item.menuCode.name() eq 'SOCCER' ? item.special : item.sports) : item.gameCode.name}">승무패</span>
            </td>
            <td class="over" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'O' : 'H'}">H</td>
            <td th:class="${(item.betTeam eq 'home' ? 'home on' : 'home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                <span th:remove="tag" th:text="${item.teamHome}">홈팀</span>
<!--				<span th:if="${item.special} != '' and ${!#strings.contains(item.special, '|')}" class="color01" th:text="${item.special}"></span>-->
<!--				<span th:if="${item.special} != '' and ${#strings.contains(item.special, '|')}" class="color01" th:text="${#strings.arraySplit(item.special, '|')[0]}"></span>-->
                <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
				<img th:if="${item.gameCode.name() eq 'OVER_UNDER'}" src="/images/icon_over.gif" style="margin-left:5px;"/>
            </td>
            <td class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}">0</td>
            <td th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                th:with="odds=${tag.odds(item.oddsDraw)}"
                th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
                th:text="${odds eq '0.00' ? 'VS' : odds}">
                무
            </td>
            <td th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${tag.handicap(item.handicap)}">무</td>
            <td class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}">0</td>
            <td th:class="${(item.betTeam eq 'away' ? 'away on' : 'away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
				<img th:if="${item.gameCode.name() eq 'OVER_UNDER'}" src="/images/icon_under.gif" style="margin-left:5px;"/>
				<span class="odds" th:text="${tag.odds(item.oddsAway)}">0.01</span>
<!--				<span th:if="${item.special} != '' and ${!#strings.contains(item.special, '|')}" class="color01" th:text="${item.special}"></span>-->
<!--				<span th:if="${item.special} != '' and ${#strings.contains(item.special, '|')}" class="color01" th:text="${#strings.arraySplit(item.special, '|')[1]}"></span>-->
                <span th:remove="tag" th:text="${item.teamAway}">홈팀</span>
            </td>
            <td class="under" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'U' : 'A'}">H</td>
            <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
        </tr>
        <tr>
            <td class="betInfo" colspan="10">
                <input type="checkbox" name="betId" th:value="${b.id}"/>
                <span class="dateDay" th:utext="${tag.dayWeekTimes(b.betDate)}">07/20(토)</span>
                <span class="betMoney">
                    베팅금액 : <span class="money" th:text="${tag.num(b.betMoney)}">1,000</span>원
                </span>
                <span class="rate">
                    배당율 : <span class="money" th:text="${tag.odds(b.betOdds)}">1,000</span>배
                </span>
                <span class="expMoney">
                    예상금액 : <span class="money" th:text="${tag.num(b.expMoney)}">1,000</span>원
                </span>
                <span class="hitMoney" th:if="${b.closing}">
                    적중금액 : <span class="hit" th:text="${tag.num(b.hitMoney)}">1,000</span>원
                </span>

                <span class="btn-box">
					<a th:href="@{|${siteConfig.pathSite}/board/free/add?betId=${b.id}|}" class="btn btn01">게시판</a>
                    <a th:href="@{|${siteConfig.pathSite}/customer/qna/add?betId=${b.id}|}" class="btn btn03">고객센터</a>
                    <a th:if="${b.closing}" href="#" th:onclick="|goDelete('${b.id}');return false;|" class="btn btn02">삭제</a>
                    <a th:if="${b.canCancel}" href="#" th:onclick="|goCancel('${b.id}');return false;|" class="btn btn03">취소</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/site :: paging(p=${page})"></ul>
    </div>
</section>

<script layout:fragment="script" th:if="true">
    function goCancel(id) {
        if (confirm('취소를 하시면 되살릴 수 없습니다.\n\n취소를 하시겠습니까?')) {
            $.ajax({
                url: path + '/betting/cancel',
                method: 'post',
                data: {
                    id: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function goDelete(id) {
        if (confirm('삭제를 하시면 되살릴 수 없습니다.\n\n삭제를 하시겠습니까?')) {
            $.ajax({
                url: path + '/betting/delete',
                method: 'post',
                data: {
                    betIds: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function goDeleteClosing() {
        if (confirm('마감된 베팅내역을 모두 삭제하시겠습니까?')) {
            $.ajax({
                url: path + '/betting/delete/closing',
                method: 'post'
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function addQna() {
        var obj = $('input[name="betId"]:checked');
        var cnt = obj.length, betIds = [];
        if (cnt === 0) {
            alert('등록하실 내역을 선택하여 주세요');
            return false;
        }
        obj.each(function () {
            betIds.push($(this).val());
        });
        location.href = path + '/customer/qna/add?betId=' + betIds.join(',');
    }

    function addBoard() {
        var obj = $('input[name="betId"]:checked');
        var cnt = obj.length, betIds = [];
        if (cnt === 0) {
            alert('등록하실 내역을 선택하여 주세요');
            return false;
        }
        obj.each(function () {
            betIds.push($(this).val());
        });
        location.href = path + '/board/free/add?betId=' + betIds.join(',');
    }

</script>
</body>
</html>