<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <form id="frm" method="post" th:object="${score}" onsubmit="return setScore();">
        <input type="hidden" th:field="*{id}"/>
        <section>
            <div class="panel-header">
                <h3><i class="bul fa fa-bars"></i> 세븐럭 종료처리</h3>
            </div>

            <div class="panel-body line">
                <div style="margin: 0 auto; width: 880px; height: 850px; overflow: hidden;position: relative;">
                    <iframe id="zoneBox" style="position: absolute; width: 880px; height: 850px;" scrolling="no" th:src="@{${sysConfig.zone.luckPlayer}}"></iframe>
                </div>
            </div>

            <table class="table-read">
                <caption>종목 등록</caption>
                <colgroup>
                    <col style="width: 180px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">게임일시</th>
                    <td>
                        <span th:utext="${tag.dayWeekTime(score.gameDate)}"></span>
                        <span class="color03" th:text="${#numbers.formatInteger(score.round, 3, 'DEFAULT') + ' 회차'}"></span>
                    </td>
                </tr>
                <tr>
                    <th class="required">딜러</th>
                    <td>
                        <select th:field="*{dealer1}">
                            <option value="">선택하세요</option>
                            <option th:value="S">스페이드</option>
                            <option th:value="D">다이아</option>
                            <option th:value="C">크로바</option>
                            <option th:value="H">하트</option>
                        </select>
                        <select th:field="*{dealer2}">
                            <option value="">선택하세요</option>
                            <option th:value="1">A</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="5">5</option>
                            <option th:value="6">6</option>
                            <option th:value="7">7</option>
                            <option th:value="8">8</option>
                            <option th:value="9">9</option>
                            <option th:value="T">10</option>
                            <option th:value="J">11</option>
                            <option th:value="Q">12</option>
                            <option th:value="K">13</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="required">PLAYER1</th>
                    <td>
                        <select th:field="*{player11}">
                            <option value="">선택하세요</option>
                            <option th:value="S">스페이드</option>
                            <option th:value="D">다이아</option>
                            <option th:value="C">크로바</option>
                            <option th:value="H">하트</option>
                        </select>
                        <select th:field="*{player12}">
                            <option value="">선택하세요</option>
                            <option th:value="1">A</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="5">5</option>
                            <option th:value="6">6</option>
                            <option th:value="7">7</option>
                            <option th:value="8">8</option>
                            <option th:value="9">9</option>
                            <option th:value="T">10</option>
                            <option th:value="J">11</option>
                            <option th:value="Q">12</option>
                            <option th:value="K">13</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="required">PLAYER2</th>
                    <td>
                        <select th:field="*{player21}">
                            <option value="">선택하세요</option>
                            <option th:value="S">스페이드</option>
                            <option th:value="D">다이아</option>
                            <option th:value="C">크로바</option>
                            <option th:value="H">하트</option>
                        </select>
                        <select th:field="*{player22}">
                            <option value="">선택하세요</option>
                            <option th:value="1">A</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="5">5</option>
                            <option th:value="6">6</option>
                            <option th:value="7">7</option>
                            <option th:value="8">8</option>
                            <option th:value="9">9</option>
                            <option th:value="T">10</option>
                            <option th:value="J">11</option>
                            <option th:value="Q">12</option>
                            <option th:value="K">13</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="required">PLAYER3</th>
                    <td>
                        <select th:field="*{player31}">
                            <option value="">선택하세요</option>
                            <option th:value="S">스페이드</option>
                            <option th:value="D">다이아</option>
                            <option th:value="C">크로바</option>
                            <option th:value="H">하트</option>
                        </select>
                        <select th:field="*{player32}">
                            <option value="">선택하세요</option>
                            <option th:value="1">A</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="5">5</option>
                            <option th:value="6">6</option>
                            <option th:value="7">7</option>
                            <option th:value="8">8</option>
                            <option th:value="9">9</option>
                            <option th:value="T">10</option>
                            <option th:value="J">11</option>
                            <option th:value="Q">12</option>
                            <option th:value="K">13</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="required">적특처리</th>
                    <td class="color01">
                        <label><input type="checkbox" th:field="*{cancel}"/> 현재회차 적특처리</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <input type="submit" class="btn btn03" value="결과입력"/>
                <button onclick="popup.close();return false;" class="btn">창닫기</button>
            </div>
        </section>
    </form>
</main>
<script layout:fragment="script" th:if="true">
    if ('[[${popup}]]' == 'closing') {
        popup.reloadClose();
    }

    function setScore() {
        if (!$('input:checkbox[name=cancel]').is(':checked')) {
            if ($('#dealer1').val() === '' || $('#dealer2').val() === '') {
                alert('딜러 결과를 입력 하세요.');
                return false;
            }

            if ($('#player11').val() === '' || $('#player12').val() === '') {
                alert('PLAYER1 결과를 입력 하세요.');
                return false;
            }

            if ($('#player21').val() === '' || $('#player22').val() === '') {
                alert('PLAYER2 결과를 입력 하세요.');
                return false;
            }

            if ($('#player31').val() === '' || $('#player32').val() === '') {
                alert('PLAYER3 결과를 입력 하세요.');
                return false;
            }
        }
    }
</script>
</body>
</html>