.banking {
	margin-bottom 30px
	.bank-list {
		display grid
		grid-gap 10px
		grid-template-columns repeat(4, 1fr)

		& > div {
			display flex
		}

		.bank {
			width 90px
			padding 10px
			//background #222
		}

		.time {
			padding 10px
			background #333
		}
	}
}