.card_result {
    width 31px
    height 44px
    display inline-block
    background url(/images/card_result.png)

    &.card_102 {
        background-position -47px -7px
    }

    &.card_103 {
        background-position -85px -7px
    }

    &.card_104 {
        background-position -122px -7px
    }

    &.card_105 {
        background-position -160px -7px
    }

    &.card_106 {
        background-position -197px -7px
    }

    &.card_107 {
        background-position -235px -7px
    }

    &.card_108 {
        background-position -273px -7px
    }

    &.card_109 {
        background-position -310px -7px
    }

    &.card_110 {
        background-position -347px -7px
    }

    &.card_111 {
        background-position -385px -7px
    }

    &.card_112 {
        background-position -423px -7px
    }

    &.card_113 {
        background-position -461px -7px
    }

    &.card_114 {
        background-position -10px -7px
    }

    &.card_202 {
        background-position -47px -57px
    }

    &.card_203 {
        background-position -85px -57px
    }

    &.card_204 {
        background-position -122px -57px
    }

    &.card_205 {
        background-position -160px -57px
    }

    &.card_206 {
        background-position -197px -57px
    }

    &.card_207 {
        background-position -235px -57px
    }

    &.card_208 {
        background-position -273px -57px
    }

    &.card_209 {
        background-position -310px -57px
    }

    &.card_210 {
        background-position -347px -57px
    }

    &.card_211 {
        background-position -385px -57px
    }

    &.card_212 {
        background-position -423px -57px
    }

    &.card_213 {
        background-position -461px -57px
    }

    &.card_214 {
        background-position -10px -57px
    }

    &.card_302 {
        background-position -47px -106px
    }

    &.card_303 {
        background-position -85px -106px
    }

    &.card_304 {
        background-position -122px -106px
    }

    &.card_305 {
        background-position -160px -106px
    }

    &.card_306 {
        background-position -197px -106px
    }

    &.card_307 {
        background-position -235px -106px
    }

    &.card_308 {
        background-position -273px -106px
    }

    &.card_309 {
        background-position -310px -106px
    }

    &.card_310 {
        background-position -347px -106px
    }

    &.card_311 {
        background-position -385px -106px
    }

    &.card_312 {
        background-position -423px -106px
    }

    &.card_313 {
        background-position -461px -106px
    }

    &.card_314 {
        background-position -10px -106px
    }

    &.card_402 {
        background-position -47px -156px
    }

    &.card_403 {
        background-position -85px -156px
    }

    &.card_404 {
        background-position -122px -156px
    }

    &.card_405 {
        background-position -160px -156px
    }

    &.card_406 {
        background-position -197px -156px
    }

    &.card_407 {
        background-position -235px -156px
    }

    &.card_408 {
        background-position -273px -156px
    }

    &.card_409 {
        background-position -310px -156px
    }

    &.card_410 {
        background-position -347px -156px
    }

    &.card_411 {
        background-position -385px -156px
    }

    &.card_412 {
        background-position -423px -156px
    }

    &.card_413 {
        background-position -461px -156px
    }

    &.card_414 {
        background-position -10px -156px
    }
}