html, body {
	height 100%
}

body {
	color #ddd
	//background #464547
	background #0b0c0e
	font-size 13px
	font-family 'NanumGothic', 'Nanum Gothic', 'AppleSDGothicNeo', 'Malgun Gothic'
	//min-height 100vh
	display flex
	flex-direction column
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

img {
	vertical-align middle
}

.container {
	position relative
	//overflow hidden
	width 1310px
	margin 0 auto
}

#background {
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	background url(/images/background2.jpg) center center no-repeat
	background-size cover
	z-index -2
}

#login #background {
	background-image none
}

#login .page-bg {
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	background url(/images/background.jpg) center center no-repeat #000
}

//.page-gradient {
//	position fixed
//	left 0
//	right 0
//	top 0
//	bottom 0
//	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
//	z-index -2
//}

a, button {
	color #ccc
	text-decoration none
	transition(all 0.2s ease-out)

	&:hover {
		color #fff
	}
}

@keyframes MOVE-BG {
	50% {
		background-position: right bottom;
	}
}

main {
	//min-height 100%
	position relative
	margin-bottom 20px
	//margin-top 150px
	//padding-bottom 60px

	.content {
		position relative
		//height 100%
	}

	&.page {
		figure {
			//display none
			position absolute
			width 100%
			//height 600px
			z-index 0
		}
	}

	.main-wrap {
		overflow hidden
		//background url(/images/main-bg2.png) no-repeat
		//background #000
		//box-shadow(inset 20px 20px 200px 2px rgba(0,0,0,0.3))
		background rgba(0, 0, 0, 0.5)
		border-radius 4px
		padding 40px 20px
		width 1295px
		margin-left 15px
		//backdrop-filter blur(10px)

		h3, h4 {
			height 24px
			color #fff
			font-size 16px
			margin-bottom 20px
			border-bottom solid 1px #727272

			span {
				color #e85202
				font-weight 900
			}
		}

		article {
			float left
			padding 0 15px
			font-size 14px

			li {
				overflow hidden
				span {
					display block
					height 35px
					line-height 35px
					float left

					&.date {
						width 24%
						em {
							color #fff
						}
					}

					&.home, &.away {
						width 33%
						color #fff
					}

					&.away {
						text-align right
					}

					&.vs {
						width 10%
						text-align center
					}
				}

				a {
					width 100%
					display block
					height 35px
					line-height 35px
					overflow hidden
					white-space nowrap
					text-overflow ellipsis
				}
			}
		}

		.game {
			width 46%
		}

		.event {
			width 27%
		}

		.notice {
			width 27%
		}

	}

	figure {
		text-align center
		display block
		height 560px
		width 1310px
		padding 0 15px
		margin 0 auto 10px auto
		overflow hidden
		//background url(/images/main_visual.jpg) right top no-repeat
		z-index -1


		video {
			margin-top -40px
			border-radius 4px
			width 100%
			object-fit contain
		}

		.video-bg {
			position absolute
			top 0
			width 100%
			height 100%
			background url(/images/patten_login_bg.png)
		}

		h1 {
			padding 140px 0 0 60px
			font-family 'Source Sans Pro', sans-serif
			font-size 38px
			font-weight 600
			color #fff
			line-height 1.4
		}

		p {
			color #000
			display table
			padding 4px 20px
			background rgba(255, 255, 255, 0.3)
			margin-bottom 4px
			transition(all 0.2s ease-out)

			&:hover {
				letter-spacing 1px
			}
		}
	}
}

footer {
	margin-top auto
	position relative
	background url(/images/bottom.png) center 10px no-repeat
	//background rgba(0, 0, 0, 0.5)
	//backdrop-filter blur(10px)
	//border-top solid 1px rgba(255,255,255,0.1)

	.container {
		//height 150px
	}

	.copyright {
		position relative
		text-align center
		color #aaa
		margin-top 160px
		padding 20px 0 30px 0

		span {
			color #e85202
		}

		.btn {
			float right
		}
	}
}

#clock {
	margin-top 4px
	width 220px
}

#btn-top {
	cursor pointer
	position fixed
	margin-left 50%
	left 670px
	bottom 30px
	width 50px
	height 50px
	line-height 50px
	border-radius 25px
	background #565658
	border solid 1px rgba(255, 255, 255, 0.1)
	text-align center
	text-shadow -1px -1px 1px rgba(0, 0, 0, 0.6)
	box-shadow(1px 1px 10px rgba(0, 0, 0, 0.6))
	transition(all 0.5s ease-out)
	opacity 0
	font-weight 600

	&:hover {
		background btn-info
	}

	&.show {
		opacity 1
	}
}