#login {

	.page-wrap {
		height 100%
	}

	.login-wrap {
		position relative
		display flex
		width 420px
		//padding 60px
		height 100%
		left 50%
		margin-left -210px
		background rgba(128,128,128,0.5)
		border-left solid 2px rgba(255,255,255,0.2)
		border-right solid 2px rgba(255,255,255,0.2)
		justify-content center
		align-items center

		.login-box {
			width 300px
			margin-top -100px
			//display flex
			//min-height 100vh
			//justify-content center
			//align-items center
			//border-radius 20px
			//border solid 1.6px rgba(150,150,255,0.2)
			//backdrop-filter blur(10px)
		}

		.brand {
			//margin-left -20px
			text-align center
			margin-bottom 160px
		}

		label {
			display block
			margin 0 auto 10px auto
			overflow hidden
		}

		input, select {
			width 100%
			height 40px
			color #ccc
			font-size 16px
			padding 0 20px
			border solid 1px #4c5358
			border-radius 5px
			background #222
		}

		select {
			color #ccc
			float left
			width 140px

			&.on {
				//color #fff
			}

			option {
				//color #fff
				//background rgba(0, 0, 0, 0.7)
			}

			+ input {
				width 256px
				float right
			}
		}

		.command {
			margin 0 auto
			padding-top 30px
			width 300px
		}

		.btn-login, .btn-join {
			transition(all 0.2s ease-out)
			margin-bottom 10px
			display block
			width 100%
			height 46px
			line-height 46px
			text-align center
			color #fff
			text-decoration none
			cursor pointer
			font-size 16px
			border-radius 5px
		}

		.btn-login {
			//background url(/images/gold_bg.jpg) center bottom no-repeat //#59a735
			background #0153de
			color #fff
			text-shadow 0 0 5px rgba(0, 0, 0, 1)
			border solid 2px #0b113a
			box-shadow(inset 0 0 1px 1px #888)


			&:hover {
				background-color darken(#0153de, 30%)
			}
		}

		.btn-join {
			border 2px solid #222
			color #ccc
			background #222
			box-shadow(inset 0 0 1px 1px #888)
			&:hover {
				background-color darken(#444, 30%)
			}
		}

		.copyright {
			margin-top 100px
			font-family Arial
			font-size 11px
			color #ccc

			span {
				color #fff
			}
		}


		&.login-wrap.login-join {
			//margin-top 100px
			margin-left -260px
			width 520px
			display block
			background none
			border none


			.login-box {
				margin-top 0
				padding-top 20px
				width 520px
				position relative
				display block
				background rgba(128,128,128,0.5)
				border-left solid 2px rgba(255,255,255,0.2)
				border-right solid 2px rgba(255,255,255,0.2)

				.brand {
					margin-bottom 50px
				}
			}


			label {
				width 400px
				position relative

				.bul {
					position absolute
					right 10px
					top 10px
					display inline-block
					width 20px
					height 20px
					background url(/images/btn_join.png) center left no-repeat

					&.bul-ready {
						background-position -20px 0
					}

					&.bul-error {
						background-position -40px 0
					}
				}

				p {
					clear both
					color #ccc
					font-size 13px
					text-align left
					padding 10px 0 10px 20px
					letter-spacing -1px
				}
			}

			.command {
				width 400px
			}

			.copyright {
				text-align center
				margin-top 50px
				padding-bottom 40px
			}
		}
	}
}

.spinner {
	width 20px
	height 20px
	background-color #ee3729
	animation(sk-rotate 1.6s infinite ease-in-out)
}

.loading {
	width 453px
	height 453px
	background url(/images/loading.png) center center no-repeat
	animation(sk-span 2s infinite linear)
}

@-webkit-keyframes sk-rotate {
	0% {
		-webkit-transform: perspective(120px)
	}
	50% {
		-webkit-transform: perspective(120px) rotateY(180deg)
	}
	100% {
		-webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg)
	}
}

@keyframes sk-rotate {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@keyframes sk-span {
	0% {
		transform: rotate(0deg)
		-webkit-transform: rotate(0deg)
	}
	100% {
		transform: rotate(359deg)
		-webkit-transform: rotate(359deg)
	}
}