.slotTitle {
	text-align center
	font-size 24px
	padding 20px 0
}

.sun-balance {
	display grid
	grid-gap 10px
	grid-template-columns 1fr 1fr 1fr 1fr 1fr
	margin-bottom 20px
}
.balance-item {
	background #333
	border-radius 20px 0 20px 0
	border solid 1px #222
	position relative
}

.balance-reload {
	position absolute
	right -10px
	top -10px
	padding 5px
	background #B8573E
	cursor pointer
	border-radius 50%
}

.balance-flag {
	text-align center
	height 50px
	line-height 50px
	img {
		max-height 40px
		max-width 140px
	}
}
.balance-money {
	display flex
	padding 10px 20px
	align-items center

	.btn {
		border-radius 10px
	}

	span {
		flex 1
		text-align right
	}
}
.balance-error {
	text-align center
	padding 10px 0;
	color #B8573E
}

.casino-games {
	width 100%
	display grid
	grid-template-columns repeat(4, 240px)
	justify-content space-between
	grid-row-gap 40px

	.casino-game {
		border solid 1px #777
		padding 20px
		border-radius 10px
	}

	.casino-title {
		text-align center
		padding-bottom 20px
		color #fff
		font-size 16px
	}

	.casino-cmd {
		text-align center
		margin-top 20px
		.btn {
			width 160px
			height 40px
			line-height 40px
			font-size 16px
		}
	}

	img {
		width 200px
	}

	.slot-body {
		background url(/images/slot/slot_bg01.png)
		background-size contain
	}

}

.slot-games {
	width 100%
	display grid
	grid-template-columns repeat(5, 190px)
	justify-content space-between
	grid-row-gap 30px

	.casino-game {
		cursor pointer
		border solid 1px #777
		padding 20px
		border-radius 10px
		transition(all 0.3s ease-out)

		&:hover {
			background-color #171928

			img {
				scaleAll(1.1)
			}
		}
	}

	img {
		transition(all 0.3s ease-out)
		max-width 150px
	}

	.casino-title {
		text-align center
		padding-bottom 20px
		color #fff
		font-size 15px
	}

	.slot-body {
		background url(/images/slot/slot_bg01.png)
		background-size contain
	}
}