<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='sun', title='카지노'" ng-app="app">
<body ng-controller="gameCtrl">
<div layout:fragment="popup" th:if="true">
    <div id="layout-wrap"></div>
    <div id="layout-load" class="loading"></div>
</div>

<main class="page" layout:fragment="page">
    <div class="box casino-box">
        <h4 style="font-size:16px; margin-bottom: 10px;">
            카지노머니 :
            {{ balance | number: 0 }} 원
        </h4>
        <div style="margin-left: auto">
            <button class="btn btn01" ng-click="casino();">새로고침</button>
        </div>
    </div>
    <div class="command">
        <button class="btn-big btn03" ng-click="receive();">환전하기</button>
    </div>

    <h3>카지노 머니 충전</h3>
    <div class="wrap">
        <label>
            <span>금액선택</span>
            <input type="text" class="num" ng-model="amount" ng-change="changeAmount()"/>
        </label>
    </div>
    <div class="amount">
        <a class="btn" ng-click="setAmount(10000);">만원</a>
        <a class="btn" ng-click="setAmount(30000);">삼만원</a>
        <a class="btn" ng-click="setAmount(50000);">오만원</a>
        <a class="btn" ng-click="setAmount(70000);">칠만원</a>
        <a class="btn" ng-click="setAmount(100000);">십만원</a>
        <a class="btn" ng-click="setAmount(300000);">삼십만원</a>
        <a class="btn" ng-click="setAmount(500000);">오십만원</a>
        <a class="btn" ng-click="setAmount(700000);">칠십만원</a>
        <a class="btn" ng-click="setAmount(1000000);">백만원</a>
        <a class="btn btn02" ng-click="resetAmount();">정정</a>
    </div>
    <div class="command">
        <button class="btn-big btn03" ng-click="send();">충전하기</button>
    </div>

    <div class="slotTitle">◎ Global Casino Games ◎</div>
    <div class="casino-games">
        <div class="casino-game" th:each="c : ${lobby}" th:if="${c.vendor eq 'evolution'}">
            <div class="casino-title" th:text="${c.title}"></div>
            <div class="casino-body">
                <img th:src="${c.img}">
            </div>
            <div class="casino-cmd">
                <button class="btn btn01" th:attr="ng-click=|goGame('${c.id}', '${c.provider}')|">게임입장</button>
            </div>
        </div>
    </div>
    <br/><br/><br/>

</main>

<script layout:fragment="script" th:if="true">
    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', '$timeout', function ($scope, $http, $interval, $timeout) {
        $scope.money = 0;
        $scope.amount = 0;
        $scope.balance = 0;
        $scope.point = 0;
        $scope.token = '[[${token.token}]]';

        $scope.$watch('$viewContentLoaded', function () {
            $scope.setInfo();
            $timeout(function () {
                $('#layout-wrap, #layout-load').fadeOut(function () {
                    $('#layout-wrap, #layout-load').hide();
                });
            })
        });

        $interval(function () {
            $scope.setInfo();
            $scope.casino();
        }, 5000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.money = response.data.money;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.casino = function () {
            $http({
                url: path + '/casino/evolution/user',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.balance = response.data.balance;
                $scope.point = response.data.point;
            });
        };

        $scope.send = function () {

            if ($scope.amount < 10000) {
                alert('최소 전환 머니는 10,000원 이상입니다.');
                return;
            }

            if ($scope.amount > $scope.money) {
                alert('전환할수 있는 최대 보유머니는 ' + $scope.money.toString().money() + '원 입니다.');
                return;
            }

            angular.element('#layout-wrap').css('display', 'block');
            angular.element('#layout-load').css('display', 'block');

            $http({
                url: path + '/casino/evolution/send',
                method: 'post',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                },
                data: {
                    "money": $scope.amount,
                    "casinoId": '[[${casinoId}]]'
                }
            }).then(function success(response) {
                if (response.data.success) {
                    $scope.balance = $scope.balance + $scope.amount;
                    alert(response.data.message);
                } else {
                    alert('머니 이동에 실패하였습니다.\n\n잠시 후 다시 이용하세요.')
                }
                $scope.amount = 0;
                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            }, function error(response) {
                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            });
        }

        $scope.receive = function () {
            if ($scope.balance === 0) {
                alert('환전할 머니가 없습니다.');
                return;
            }

            angular.element('#layout-wrap').css('display', 'block');
            angular.element('#layout-load').css('display', 'block');

            $http({
                url: path + '/casino/evolution/receive',
                method: 'post',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                },
                data: {
                    "money": $scope.balance,
                    "casinoId": '[[${casinoId}]]'
                }
            }).then(function success(response) {
                if (response.data.success) {
                    $scope.balance = 0;
                    alert(response.data.message);
                } else {
                    alert('머니 환전에 실패하였습니다.\n\n잠시 후 다시 이용하세요.')
                }
                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            }, function error(response) {
                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            });
        }

        $scope.exchange = function () {
            if ($scope.point === 0) {
                alert('전환할 적립 포인트가 없습니다.');
                return;
            }

            angular.element('#layout-wrap').css('display', 'block');
            angular.element('#layout-load').css('display', 'block');

            $http({
                url: path + '/casino/evolution/exchange',
                method: 'post',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                },
                data: {
                    "casinoId": '[[${casinoId}]]'
                }
            }).then(function success(response) {
                $scope.balance = response.data.balance;
                $scope.point = response.data.point;
                alert('포인트를 머니로 전환하였습니다.');

                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            }, function error(response) {
                alert('포인트 전환에 실패하였습니다.');

                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            });
        }

        $scope.setAmount = function (amount) {
            $scope.amount += amount;
            angular.element('#amountKor').text(amount <= 0 ? '' : '(' + $.num2han(amount) + ' 원)');
        }

        $scope.resetAmount = function () {
            $scope.amount = 0;
            angular.element('#amountKor').text('');
        }

        $scope.changeAmount = function () {
            angular.element('#amountKor').text($scope.amount <= 0 ? '' : '(' + $.num2han($scope.amount) + ' 원)');
        }

        $scope.goGame = function (id, provider) {
            window.open('[[${game}]]?provider=' + provider + '&id=' + id + '&token=' + $scope.token, '_blank');
        }

    }]);
</script>
</body>
</html>