<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='accounting', lnb='share'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>매장 관리 :</small>
    지급율 관리
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-shopping-bag"></i>
                매장 지급율 관리
            </h3>
        </div>
        <table class="table-list">
            <caption>지급율 관리</caption>
            <thead>
            <tr>
				<th>매장</th>
				<th>가입회원</th>
				<th>정상회원</th>
				<th>총입금</th>
				<th>총출금</th>
				<th>총수익</th>
				<th>베팅</th>
                <th>EOS 3분 (단폴/조합)</th>
                <th>EOS 5분 (단폴/조합)</th>
				<th>키다리</th>
				<th>카지노/슬롯</th>
<!--                <th style="width: 140px;">관리</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${list}" th:class="${m.role.name() eq 'AGENCY2'} ? 'on'">
				<td th:text="${m.hq eq 1 ? m.agency1 : '-'}">매장</td>
                <td class="color01 num" th:text="${tag.num(m.regMember)}">가입회원</td>
                <td class="color01 num" th:text="${tag.num(m.joinMember)}">정상회원</td>
                <td class="color04 num" th:text="${tag.num(m.inMoney) + '원'}">입금</td>
                <td class="color03 num" th:text="${tag.num(m.outMoney) + '원'}">출금</td>
                <td class="color02 num" th:text="${tag.num(m.inMoney - m.outMoney) + '원'}">수익</td>
                <td class="color03 num" th:text="${tag.num(m.betZone) + '원'}">실시간</td>
				<td th:class="${m.hq eq 1} ? 'color01'">
                    <span th:remove="tag" th:text="${m.eos3Min + '% / ' + m.eos3Max + '%'}"></span>
				</td>
				<td th:class="${m.hq eq 1} ? 'color01'">
                    <span th:remove="tag" th:text="${m.eos5Min + '% / ' + m.eos5Max + '%'}"></span>
				</td>
				<td th:class="${m.hq eq 1} ? 'color01'">
					<span th:remove="tag" th:text="${m.kenoLadder + '%'}"></span>
				</td>
				<td th:class="${m.hq eq 1} ? 'color01'">
					<span th:remove="tag" th:text="${m.casino + '%'}"></span> /
                    <span th:remove="tag" th:text="${m.slot + '%'}"></span>
				</td>
<!--                <td>-->
<!--                    <a class="btn btn01" th:if="${m.hq eq 1}" th:onclick="|updateShare('${m.userid}', this);|" style="width: 100px;">지급율수정 >></a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    var _eos3Max = [[${hq.eos3Max}]];
    var _eos3Min = [[${hq.eos3Min}]];
    var _eos5Max = [[${hq.eos5Max}]];
    var _eos5Min = [[${hq.eos5Min}]];
    var _kenoLadder = [[${hq.kenoLadder}]];
    var _casino = [[${hq.casino}]];
    var _slot = [[${hq.slot}]];

    function updateShare(userid, obj) {
        var tr = $(obj).parent().parent();
        var eos3Max = tr.find('input[name=eos3Max]').val();
        var eos3Min = tr.find('input[name=eos3Min]').val();
        var eos5Max = tr.find('input[name=eos5Max]').val();
        var eos5Min = tr.find('input[name=eos5Min]').val();
        var kenoLadder = tr.find('input[name=kenoLadder]').val();
        var casino = tr.find('input[name=casino]').val();
        var slot = tr.find('input[name=slot]').val();

        if (_eos3Max < eos3Max) {
            alert('EOS 파워볼 3분 조합 최대 롤링은 ' + _eos3Max + '% 입니다.');
            return false;
        }
        if (_eos3Min < eos3Min) {
            alert('EOS 파워볼 3분 단폴 최대 롤링은 ' + _eos3Min + '% 입니다.');
            return false;
        }
        if (_eos5Max < eos5Max) {
            alert('EOS 파워볼 5분 조합 최대 롤링은 ' + _eos5Max + '% 입니다.');
            return false;
        }
        if (_eos5Min < eos5Min) {
            alert('EOS 파워볼 5분 단폴 최대 롤링은 ' + _eos5Min + '% 입니다.');
            return false;
        }
        if (_keno < keno) {
            alert('스피드키노 최대 롤링은 ' + _keno + '% 입니다.');
            return false;
        }
        if (_kenoLadder < kenoLadder) {
            alert('키노사다리 최대 롤링은 ' + _kenoLadder + '% 입니다.');
            return false;
        }
        if (_casino < casino) {
            alert('카지노 최대 롤링은 ' + _casino + '% 입니다.');
            return false;
		}
        if (_slot < slot) {
            alert('슬롯 최대 롤링은 ' + _slot + '% 입니다.');
            return false;
        }


        if (!confirm('지급율을 수정하시겠습니까?')) {
            return;
        }

        $.post(path + '/accounting/share', {
            userid: userid,
            powerMin: powerMin,
            powerMax: powerMax,
            powerLadder: powerLadder,
            keno: keno,
            kenoLadder: kenoLadder,
            casino: casino,
            slot: slot
        }).done(function () {
            setTimeout(function () {
                location.reload();
            }, 1000);
        });
    }
</script>
</body>
</html>