<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='accounting', lnb='share'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>매장 관리 :</small>
    지급율 관리
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-shopping-bag"></i>
                매장 지급율 관리
            </h3>
        </div>
        <table class="table-list">
            <caption>지급율 관리</caption>
            <thead>
            <tr>
				<th>매장</th>
				<th>가입회원</th>
				<th>정상회원</th>
				<th>총입금</th>
				<th>총출금</th>
				<th>총수익</th>
				<th>베팅</th>
				<th>↓ 파워볼 ↑</th>
				<th>파다리</th>
				<th>키노</th>
				<th>키다리</th>
				<th>카지노</th>
                <th style="width: 140px;">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${list}" th:class="${m.role.name() eq 'AGENCY2'} ? 'on'">
				<td th:text="${m.hq eq 1 ? m.agency1 : '-'}">매장</td>
                <td class="color01 num" th:text="${tag.num(m.regMember)}">가입회원</td>
                <td class="color01 num" th:text="${tag.num(m.joinMember)}">정상회원</td>
                <td class="color04 num" th:text="${tag.num(m.inMoney) + '원'}">입금</td>
                <td class="color03 num" th:text="${tag.num(m.outMoney) + '원'}">출금</td>
                <td class="color02 num" th:text="${tag.num(m.inMoney - m.outMoney) + '원'}">수익</td>
                <td class="color03 num" th:text="${tag.num(m.betZone) + '원'}">실시간</td>
				<td th:class="${m.hq eq 2} ? 'color01'">
					<label th:if="${m.hq eq 1}" th:remove="tag">
						<input type="text" name="powerMin" th:value="${m.powerMin}" style="width: 60px; text-align: right;"/>% /
						<input type="text" name="powerMax" th:value="${m.powerMax}" style="width: 60px; text-align: right;"/>%
					</label>
					<span th:if="${m.hq ne 1}" th:remove="tag" th:text="${m.powerMin + '% / ' + m.powerMax + '%'}"></span>
				</td>
				<td th:class="${m.hq eq 2} ? 'color01'">
					<label th:if="${m.hq eq 1}" th:remove="tag">
						<input type="text" name="powerLadder" th:value="${m.powerLadder}" style="width: 60px; text-align: right;"/>%
					</label>
					<span th:if="${m.hq ne 1}" th:remove="tag" th:text="${m.powerLadder + '%'}"></span>
				</td>
				<td th:class="${m.hq eq 2} ? 'color01'">
					<label th:if="${m.hq eq 1}" th:remove="tag">
						<input type="text" name="keno" th:value="${m.keno}" style="width: 60px; text-align: right;"/>%
					</label>
					<span th:if="${m.hq ne 1}" th:remove="tag" th:text="${m.keno + '%'}"></span>
				</td>
				<td th:class="${m.hq eq 2} ? 'color01'">
					<label th:if="${m.hq eq 1}" th:remove="tag">
						<input type="text" name="kenoLadder" th:value="${m.kenoLadder}" style="width: 60px; text-align: right;"/>%
					</label>
					<span th:if="${m.hq ne 1}" th:remove="tag" th:text="${m.kenoLadder + '%'}"></span>
				</td>
				<td th:class="${m.hq eq 2} ? 'color01'">
					<label th:if="${m.hq eq 1}" th:remove="tag">
						<input type="text" name="casino" th:value="${m.casino}" style="width: 60px; text-align: right;"/> /
					</label>
					<span th:if="${m.hq ne 1}" th:remove="tag" th:text="${m.casino + '%'}"></span>
				</td>
                <td>
                    <a class="btn btn01" th:if="${m.hq eq 1}" th:onclick="|updateShare('${m.userid}', this);|" style="width: 100px;">지급율수정 >></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

    var _powerMax = '[[${hq.powerMax}]]';
    var _powerMin = [[${hq.powerMin}]];
    var _powerLadder = [[${hq.powerLadder}]];
    var _keno = [[${hq.keno}]];
    var _kenoLadder = [[${hq.kenoLadder}]];
    var _casino = [[${hq.casino}]];

    function updateShare(userid, obj) {
        var tr = $(obj).parent().parent();
        var powerMax = tr.find('input[name=powerMax]').val();
        var powerMin = tr.find('input[name=powerMin]').val();
        var powerLadder = tr.find('input[name=powerLadder]').val();
        var keno = tr.find('input[name=keno]').val();
        var kenoLadder = tr.find('input[name=kenoLadder]').val();
        var casino = tr.find('input[name=casino]').val();

        if (_powerMax < powerMax) {
            alert('파워볼 상위 최대 롤링은 ' + _powerMax + '% 입니다.');
            return false;
        }
        if (_powerMin < powerMin) {
            alert('파워볼 하위 최대 롤링은 ' + _powerMin + '% 입니다.');
            return false;
        }
        if (_powerLadder < powerLadder) {
            alert('파워사다리 최대 롤링은 ' + _powerLadder + '% 입니다.');
            return false;
        }
        if (_keno < keno) {
            alert('스피드키노 최대 롤링은 ' + _keno + '% 입니다.');
            return false;
        }
        if (_kenoLadder < kenoLadder) {
            alert('키노사다리 최대 롤링은 ' + _kenoLadder + '% 입니다.');
            return false;
        }
        if (_casino < casino) {
            alert('카지노 최대 롤링은 ' + _casino + '% 입니다.');
            return false;
		}


        if (!confirm('지급율을 수정하시겠습니까?')) {
            return;
        }

        $.post(path + '/accounting/share', {
            userid: userid,
            powerMin: powerMin,
            powerMax: powerMax,
            powerLadder: powerLadder,
            keno: keno,
            kenoLadder: kenoLadder,
            casino: casino
        }).done(function () {
            setTimeout(function () {
                location.reload();
            }, 1000);
        });
    }
</script>
</body>
</html>