<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='zone', gnb='zone', lnb='keno_ladder', title='키노 사다리'" ng-app="app">
<body ng-controller="gameCtrl">

<main class="page" layout:fragment="page">
	<h3>
		<img ng-src="{{flag}}"/>
		키노 사다리
		<span class="color03" th:text="'[제 {{config.round}}회차]'">256회차</span>
	</h3>
    <div class="zone">
		<div id="zoneBox">
			<div>
				<iframe style="position: absolute; width: 830px; height: 646px;" scrolling="no" th:src="@{${sysConfig.zone.kenoLadderPlayer}}"></iframe>
			</div>
		</div>
		<div class="table-wrap">
			<table class="table-game table-list">
				<caption>사다리</caption>
				<colgroup>

				</colgroup>
				<thead>
				<tr>
					<th>날짜</th>
					<th>회차</th>
					<th>좌우</th>
					<th>줄수</th>
					<th>홀짝</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="s in score">
					<td><span class="date">{{::s.date}}</span></td>
					<td><span class="round1">{{::s.round}}</span> 회</td>
					<td><img src="/images/powerball/{{s.start}}.png"/></td>
					<td><img src="/images/powerball/line{{s.line}}.png"/></td>
					<td><img src="/images/powerball/{{s.oe}}.png"/></td>
				</tr>
				</tbody>
			</table>
		</div>
		<br/>

        <div class="timer" ng-cloak ng-show="config.enabled">
            <em>베팅남은시간</em>
            <div class="timer-box">
                <div id="timer">
                    <div ng-bind="countdown[0]"></div>
                    <div ng-bind="countdown[1]"></div>
                    <span>:</span>
                    <div ng-bind="countdown[2]"></div>
                    <div ng-bind="countdown[3]"></div>
                </div>
            </div>
        </div>

		<div class="powerball" ng-class="bet">
			<div class="title" style="line-height: 1.6">
				<span class="name">첫번째</span> 숫자 홀<span class="hd">(좌출발)</span> / 짝<span class="hd">(우출발)</span><br/>
				<span class="name">첫번째</span> 숫자 1-35<span class="hd">(3줄)</span>/36-70<span class="hd">(4줄)</span>
			</div>
			<div class="bet-wrap" ng-if="config.oddeven">
				<div class="bet-item bet">
					<div class="bet-round">
						<p>홀</p>
						<em class="odds">{{config.odds[0] | number: 2}}</em>
					</div>
					<a ng-click="add('oddeven', 'home', 0, '홀', $event)"></a>
				</div>
				<div class="bet-item bet">
					<div class="bet-round">
						<p>짝</p>
						<em class="odds">{{config.odds[1] | number: 2}}</em>
					</div>
					<a ng-click="add('oddeven', 'away', 1, '짝', $event)"></a>
				</div>
			</div>
			<div class="bet-wrap" ng-if="config.start">
				<div class="bet-item bet">
					<div class="bet-round">
						<p>좌</p>
						<em class="odds">{{config.odds[2] | number: 2}}</em>
					</div>
					<a ng-click="add('start', 'home', 2, '좌', $event)"></a>
				</div>
				<div class="bet-item bet">
					<div class="bet-round">
						<p>우</p>
						<em class="odds">{{config.odds[3] | number: 2}}</em>
					</div>
					<a ng-click="add('start','away', 3, '우', $event)"></a>
				</div>
			</div>
			<div class="bet-wrap" ng-if="config.line">
				<div class="bet-item bet">
					<div class="bet-round">
						<p>3줄</p>
						<em class="odds">{{config.odds[4] | number: 2}}</em>
					</div>
					<a ng-click="add('line', 'home', 4, '3줄', $event)"></a>
				</div>
				<div class="bet-item bet">
					<div class="bet-round">
						<p>4줄</p>
						<em class="odds">{{config.odds[5] | number: 2}}</em>
					</div>
					<a ng-click="add('line', 'away', 5, '4줄', $event)"></a>
				</div>
			</div>

			<div class="title"  ng-if="config.lineStart">
				<span class="name">조합</span> 베팅
			</div>
			<div class="bet-wrap" ng-if="config.lineStart">
				<div class="bet-item bet">
					<div class="bet-round">
						<p>좌-3</p>
						<em class="odds">{{config.odds[6] | number: 2}}</em>
					</div>
					<a ng-click="add('line3Start', 'home', 6, '3줄/좌', $event)"></a>
				</div>
				<div class="bet-item bet">
					<div class="bet-round">
						<p>우-3</p>
						<em class="odds">{{config.odds[7] | number: 2}}</em>
					</div>
					<a ng-click="add('line3Start', 'away', 7, '3줄/우', $event)"></a>
				</div>
			</div>
			<div class="bet-wrap" ng-if="config.lineStart">
				<div class="bet-item bet">
					<div class="bet-round">
						<p>좌-4</p>
						<em class="odds">{{config.odds[8] | number: 2}}</em>
					</div>
					<a ng-click="add('line4Start', 'home', 8, '4줄/좌', $event)"></a>
				</div>
				<div class="bet-item bet">
					<div class="bet-round">
						<p>우-4</p>
						<em class="odds">{{config.odds[9] | number: 2}}</em>
					</div>
					<a ng-click="add('line4Start', 'away', 9, '4줄/우', $event)"></a>
				</div>
			</div>
		</div>

		<div ng-cloak ng-if="betList.length > 0">
			<br/><br/>
			<table class="table-list bet">
				<caption></caption>
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
				</colgroup>
				<thead>
				<tr>
					<th>베팅내역</th>
					<th>베팅금액</th>
					<th>적중금액</th>
					<th>결과</th>
				</tr>
				</thead>
				<tbody class="betBody">
				<tr ng-repeat="b in betList">
					<td>
						{{b.date}} {{b.time}}
						<div class="team">{{betTeam(b.bet, b.hname, b.aname)}}</div>
						<div class="odds">[{{b.odds | number: 2}}]</div>
					</td>
					<td>{{b.betMoney | number}}</td>
					<td>{{b.hitMoney | number}}</td>
					<td  ng-if="!b.cancel" class="{{b.className}}">{{b.result}}</td>
					<td ng-if="b.cancel">
						<button class="btn btn03" ng-click="cancel(b.id)">취소</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

    </div>

</main>

<script layout:fragment="script" th:if="true">

    iframeScale(830, 646);

    $(window).on('orientationchange resize', function () {
        iframeScale(830, 646);
    });

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.parseFloat = window.parseFloat;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-keno_ladder.png';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회 키노사다리';
        $scope.countdown = ['0', '0', '0', '0'];
        $scope.score = [(${score})];
        $scope.betList = [(${bet})];

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate) {
                $scope.milliseconds += 1000;
                if ($scope.config.betTime < 0) {
                    $scope.countdowon = ['0', '0', '0', '0'];
                    angular.element('.bet').removeClass('on');
                    $scope.cart.length = 0;
                    $scope.bet = 'off';
                } else {
                    var min = '0' + parseInt($scope.config.betTime / 60);
                    min = min.substring(min.length - 2);
                    var sec = '0' + $scope.config.betTime % 60;
                    sec = sec.substring(sec.length - 2);
                    $scope.countdown = [min.substring(0, 1), min.substring(1, 2), sec.substring(0, 1), sec.substring(1, 2)];
                }
                $scope.config.betTime--;
            } else {
                $scope.setConfig();
                $scope.setScore();
                $scope.setBetList();
                $scope.countdowon = ['0', '0', '0', '0'];
            }
        }, 1000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/keno_ladder/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.name = $scope.config.round + '회 키노사다리';
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
            });
        };

        $scope.setScore = function () {
            $http({
                url: path + '/zone/keno_ladder/score',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.score = response.data;
            });
        };

        $scope.setBetList = function () {
            $http({
                url: path + '/zone/keno_ladder/bet',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.betList = response.data;
            });
        };

        $scope.cancel = function (id) {
            if (!confirm('취소를 하시면 되살릴 수 없습니다.\n\n취소를 하시겠습니까?'))
                return false;

            $http({
                url: path + '/betting/zone/cancel',
                method: 'POST',
                data: {
                    id: id
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.setBetList();
                alert(response.data.message);
            });
        }

        $scope.betTeam = function (pos, home, away) {
            if (pos === 'home') return home;
            if (pos === 'away') return away;
            return home.replace('[대]', '[중]');
        }

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target).parent();
            $scope.cart.length = 0;
            if (ele.hasClass('on')) {
                ele.removeClass('on');
                $scope.odds = 0.00;
            } else {
                angular.element('.bet').removeClass('on');
                ele.addClass('on');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.bet').removeClass('on');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max), $scope.config.money);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/keno_ladder/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (!response.data.success) {
                    alert(response.data.message);
                } else {
                    alert('배팅 완료되었습니다.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
                $scope.setBetList();
            }, function error(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
                $scope.setBetList();
            });
        };
    }]);
</script>
</body>
</html>