<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='zone', gnb='zone', lnb='power', title='파워볼'" ng-app="app">
<body ng-controller="gameCtrl">

<main class="page" layout:fragment="page">
	<h3>
		<img ng-src="{{flag}}"/>
		파워볼
		<span class="color03" th:text="'[제 {{config.times | number : 0}}회차]'">256회차</span>
	</h3>
    <div class="zone">
		<div id="zoneBox">
			<div>
				<iframe style="position: absolute; width: 760px; height: 509px;" scrolling="no" th:src="@{${sysConfig.zone.powerPlayer}}"></iframe>
			</div>
		</div>
		<div class="table-wrap">
			<table class="table-game table-list">
				<caption>사다리</caption>
				<colgroup>

				</colgroup>
				<thead>
				<tr>
					<th rowspan="2">회차</th>
					<th colspan="2">파워볼</th>
					<th colspan="3">일반볼</th>
				</tr>
				<tr>
					<th>홀짝</th>
					<th>언오버</th>
					<th>대중소</th>
					<th>홀짝</th>
					<th>언오버</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="s in score">
					<td>{{::s.times[0]}}<span class="color03">{{::s.times[1]}}</span>회</td>
					<td><img src="/images/powerball/{{s.pbOe}}.png"/></td>
					<td><img src="/images/powerball/{{s.pbOu}}.png"/></td>
					<td><img src="/images/powerball/{{s.size}}.png"/></td>
					<td><img src="/images/powerball/{{s.oe}}.png"/></td>
					<td><img src="/images/powerball/{{s.ou}}.png"/></td>
				</tr>
				</tbody>
			</table>
		</div>
		<br/>
        <div class="timer" ng-cloak ng-show="config.enabled">
            <em>베팅남은시간</em>
            <div class="timer-box">
                <div id="timer">
                    <div ng-bind="countdown[0]"></div>
                    <div ng-bind="countdown[1]"></div>
                    <span>:</span>
                    <div ng-bind="countdown[2]"></div>
                    <div ng-bind="countdown[3]"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <table class="table-game ng-cloak" ng-cloak ng-if="config.enabled">
                <caption>파워볼</caption>
                <colgroup>
                    <col>
                    <col style="width: 60px;">
                    <col>
                </colgroup>
                <tbody>
                <tr ng-if="config.oddeven" ng-class="bet">
                    <td class="home bet">
                        <p>일반볼 <span class="color01">[홀]</span></p>
                        <em class="odds">{{config.odds[0] | number: 2}}</em>
                        <a ng-click="add('oddeven', 'home', 0, '일반볼 홀', $event)"></a>
                    </td>
                    <td class="draw vs">VS</td>
                    <td class="away bet">
                        <p>일반볼 <span class="color01">[짝]</span></p>
                        <em class="odds">{{config.odds[1] | number: 2}}</em>
                        <a ng-click="add('oddeven', 'away', 1, '일반볼 짝', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.pb_oddeven" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        <p>파워볼 <span class="color01">[홀]</span></p>
                        <em class="odds">{{config.odds[2] | number: 2}}</em>
                        <a ng-click="add('pb_oddeven', 'home', 2, '파워볼 홀', $event)"></a>
                    </td>
                    <td class="draw vs">VS</td>
                    <td class="away bet">
                        <p>파워볼 <span class="color01">[짝]</span></p>
                        <em class="odds">{{config.odds[3] | number: 2}}</em>
                        <a ng-click="add('pb_oddeven', 'away', 3, '파워볼 짝', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        <p>일반볼 <span class="color01">[오버]</span></p>
                        <em class="odds">{{config.odds[4] | number: 2}}</em>
                        <a ng-click="add('overunder', 'home', 4, '일반볼 오버', $event)"></a>
                    </td>
                    <td class="draw vs">VS</td>
                    <td class="away bet">
                        <p>일반볼 <span class="color01">[언더]</span></p>
                        <em class="odds">{{config.odds[5] | number: 2}}</em>
                        <a ng-click="add('overunder', 'away', 5, '일반볼 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.pb_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        <p>파워볼 <span class="color01">[오버]</span></p>
                        <em class="odds">{{config.odds[6] | number: 2}}</em>
                        <a ng-click="add('pb_overunder', 'home', 6, '파워볼 오버', $event)"></a>
                    </td>
                    <td class="draw vs" rowspan="2">VS</td>
                    <td class="away bet">
                        <p>파워볼 <span class="color01">[언더]</span></p>
                        <em class="odds">{{config.odds[7] | number: 2}}</em>
                        <a ng-click="add('pb_overunder', 'away', 7, '파워볼 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.size" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        <p>대</p>
                        <em class="odds">{{config.odds[8] | number: 2}}</em>
                        <a ng-click="add('size', 'home', 8, '대', $event)"></a>
                    </td>
                    <td class="home bet">
                        <p>중</p>
                        <em class="odds">{{config.odds[9] | number: 2}}</em>
                        <a ng-click="add('size', 'draw', 9, '중', $event)"></a>
                    </td>
                    <td class="away bet">
                        <p>소</p>
                        <em class="odds">{{config.odds[10] | number: 2}}</em>
                        <a ng-click="add('size', 'away', 10, '소', $event)"></a>
                    </td>
                </tr>
                </tbody>
				<tbody ng-if="config.oe_ou" class="group">
				<tr ng-class="bet">
					<td class="home bet">
						<p>일반볼 <span class="color04">[홀]</span> <span class="color01">[오버]</span></p>
						<em class="odds">{{config.odds[11] | number: 2}}</em>
						<a ng-click="add('odd_ou', 'home', 11, '일반볼 홀/오버', $event)"></a>
					</td>
					<td rowspan="2" class="draw vs">VS</td>
					<td class="away bet">
						<p>일반볼 <span class="color04">[홀]</span> <span class="color01">[언더]</span></p>
						<em class="odds">{{config.odds[12] | number: 2}}</em>
						<a ng-click="add('odd_ou', 'away', 12, '일반볼 홀/언더', $event)"></a>
					</td>
				</tr>
				<tr ng-class="bet">
					<td class="home bet">
						<p>일반볼 <span class="color04">[짝]</span> <span class="color01">[오버]</span></p>
						<em class="odds">{{config.odds[13] | number: 2}}</em>
						<a ng-click="add('even_ou', 'home', 13, '일반볼 짝/오버', $event)"></a>
					</td>
					<td class="away bet">
						<p>일반볼 <span class="color04">[짝]</span> <span class="color01">[언더]</span></p>
						<em class="odds">{{config.odds[14] | number: 2}}</em>
						<a ng-click="add('even_ou', 'away', 14, '일반볼 짝/언더', $event)"></a>
					</td>
				</tr>
				</tbody>

				<tbody ng-if="config.oe_size" class="group">
				<tr ng-class="bet">
					<td class="home bet">
						<p>일반볼 <span class="color04">[홀]</span> <span class="color01">[대]</span></p>
						<em class="odds">{{config.odds[15] | number: 2}}</em>
						<a ng-click="add('odd_size', 'home', 15, '홀/대', $event)"></a>
					</td>
					<td class="draw bet">
						<p><span class="color04">홀</span> <span class="color01">중</span></p>
						<em class="odds">{{config.odds[16] | number: 2}}</em>
						<a ng-click="add('odd_size', 'draw', 16, '홀/중', $event)"></a>
					</td>
					<td class="away bet">
						<p>일반볼 <span class="color04">[홀]</span> <span class="color01">[소]</span></p>
						<em class="odds">{{config.odds[17] | number: 2}}</em>
						<a ng-click="add('odd_size', 'away', 17, '홀/소', $event)"></a>
					</td>
				</tr>
				<tr ng-class="bet">
					<td class="home bet">
						<p>일반볼 <span class="color04">[짝]</span> <span class="color01">[대]</span></p>
						<em class="odds">{{config.odds[18] | number: 2}}</em>
						<a ng-click="add('even_size', 'home', 18, '짝/대', $event)"></a>
					</td>
					<td class="draw bet">
						<p><span class="color04">짝</span> <span class="color01">중</span></p>
						<em class="odds">{{config.odds[19] | number: 2}}</em>
						<a ng-click="add('even_size', 'draw', 19, '짝/중', $event)"></a>
					</td>
					<td class="away bet">
						<p>일반볼 <span class="color04">[짝]</span> <span class="color01">[소]</span></p>
						<em class="odds">{{config.odds[20] | number: 2}}</em>
						<a ng-click="add('even_size', 'away', 20, '짝/소', $event)"></a>
					</td>
				</tr>
				</tbody>


				<tbody ng-if="config.pb_oe_ou" class="group">
				<tr ng-class="bet">
					<td class="home bet">
						<p>파워볼 <span class="color04">[홀]</span> <span class="color01">[오버]</span></p>
						<em class="odds">{{config.odds[21] | number: 2}}</em>
						<a ng-click="add('pb_odd_ou', 'home', 21, '파워볼 홀/오버', $event)"></a>
					</td>
					<td rowspan="2" class="draw vs">VS</td>
					<td class="away bet">
						<p>파워볼 <span class="color04">[홀]</span> <span class="color01">[언더]</span></p>
						<em class="odds">{{config.odds[22] | number: 2}}</em>
						<a ng-click="add('pb_odd_ou', 'away', 22, '파워볼 홀/언더', $event)"></a>
					</td>
				</tr>
				<tr ng-class="bet">
					<td class="home bet">
						<p>파워볼 <span class="color04">[짝]</span> <span class="color01">[오버]</span></p>
						<em class="odds">{{config.odds[23] | number: 2}}</em>
						<a ng-click="add('pb_even_ou', 'home', 23, '파워볼 짝/오버', $event)"></a>
					</td>
					<td class="away bet">
						<p>파워볼 <span class="color04">[짝]</span> <span class="color01">[언더]</span></p>
						<em class="odds">{{config.odds[24] | number: 2}}</em>
						<a ng-click="add('pb_even_ou', 'away', 24, '파워볼 짝/언더', $event)"></a>
					</td>
				</tr>
				</tbody>
            </table>
        </div>
    </div>

</main>

<script layout:fragment="script" th:if="true">

    iframeScale(760, 509);

    $(window).on('orientationchange resize', function () {
        iframeScale(760, 509);
    });

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.parseFloat = window.parseFloat;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-power.png';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회 파워볼';
        $scope.countdown = ['0', '0', '0', '0'];
        $scope.score = [(${score})];

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate) {
                $scope.milliseconds += 1000;
                if ($scope.config.betTime < 0) {
                    $scope.countdowon = ['0', '0', '0', '0'];
                    angular.element('.bet').removeClass('on');
                    $scope.cart.length = 0;
                    $scope.bet = 'off';
                } else {
                    var min = '0' + parseInt($scope.config.betTime / 60);
                    min = min.substring(min.length - 2);
                    var sec = '0' + $scope.config.betTime % 60;
                    sec = sec.substring(sec.length - 2);
                    $scope.countdown = [min.substring(0, 1), min.substring(1, 2), sec.substring(0, 1), sec.substring(1, 2)];
                }
                $scope.config.betTime--;
            } else {
                $scope.setConfig();
                $scope.setScore();
                $scope.countdowon = ['0', '0', '0', '0'];
            }
        }, 1000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/power/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.name = $scope.config.round + '회 파워볼';
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
            });
        };

        $scope.setScore = function () {
            $http({
                url: path + '/zone/power/score',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.score = response.data;
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target).parent();

            $scope.cart.length = 0;
            if (ele.hasClass('on')) {
                ele.removeClass('on');
                $scope.odds = 0.00;
            } else {
                angular.element('.bet').removeClass('on');
                ele.addClass('on');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.bet').removeClass('on');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max), $scope.config.money);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/power/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (!response.data.success) {
                    alert(response.data.message);
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };
    }]);
</script>
</body>
</html>