.slotTitle {
	text-align center
	font-size 24px
	padding 20px 0
}

.sun-balance {
	padding 10px
	display grid
	grid-gap 10px
	grid-template-columns 1fr 1fr
}
.balance-item {
	background rgba(0, 0, 0, 0.6)
	border-radius 20px 0 20px 0
	border solid 1px rgba(255,255,255,0.4)
	position relative
}

.balance-reload {
	position absolute
	right -10px
	top -10px
	padding 5px
	background #ea1717
	cursor pointer
	border-radius 50%
}

.balance-flag {
	text-align center
	height 50px
	line-height 50px
	img {
		max-height 40px
		max-width 140px
	}
}
.balance-money {
	display flex
	padding 10px 20px
	align-items center

	.btn {
		border-radius 10px
		height 28px
		line-height 26px
		width 70px
	}

	span {
		flex 1
		text-align right
	}
}
.balance-error {
	text-align center
	padding 10px 0;
	color #ea1717
}

.casino-box {
	margin-top 30px
	display flex
	padding 0
	align-items center
	justify-content center

	.btn {
		width auto
		margin 0
	}
}

.casino-games {
	width 100%
	display grid
	grid-template-columns repeat(2, 1fr)
	justify-content space-between
	grid-gap 20px

	.casino-game {
		border solid 1px #777
		padding 20px
		border-radius 10px
		position relative
	}

	.casino-title {
		text-align center
		padding-bottom 20px
		color #fff
		font-size 16px
	}

	.casino-cmd {
		text-align center
		margin-top 20px
		.btn {
			width 100%
			height 40px
			line-height 40px
			font-size 16px
		}
	}

	img {
		width 100%
	}
}