<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='config', lnb='team'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>환경설정 :</small>
    팀명 설정
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:action="@{|${siteConfig.pathAdmin}/config/team|}" th:object="${command}"
                  method="get">
                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <label>
                    종목 :
                    <select th:field="*{sports}">
                        <option value="">선택하세요</option>
                        <option th:each="sport: ${sports}" th:value="${sport.sportsName}" th:text="${sport.sportsName}">
                            축구
                        </option>
                    </select>
                </label>
                <label>
                    팀명 : <input type="text" th:field="*{team}"/>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/config/team|}" class="btn">취소</a>
                </div>
                <div>
                </div>
            </form>
            <form id="frm-add" th:action="@{|${siteConfig.pathAdmin}/config/team|}" method="post">
                <input type="hidden" name="teamName"/>
                <input type="hidden" name="teamKor"/>
                <input type="hidden" name="sports"/>
            </form>
            <form id="frm-update" th:action="@{|${siteConfig.pathAdmin}/config/team|}" th:method="put">
                <input type="hidden" name="id"/>
                <input type="hidden" name="team"/>
            </form>
            <form id="frm-delete" th:action="@{|${siteConfig.pathAdmin}/config/team|}" th:method="delete">
                <input type="hidden" name="id"/>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-trophy"></i>
                팀명 설정
                <span class="total">( 검색된 팀명 : <span th:text="${#numbers.formatInteger(page.totalElements, 0, 'DEFAULT')}">100</span> )</span>
            </h3>
        </div>
        <table class="table-list">
            <caption>팀명 설정</caption>
            <colgroup>
                <col style="width: 100px;">
                <col>
                <col>
                <col>
                <col style="width: 200px;">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>종목</th>
                <th>팀명</th>
                <th>출력팀명</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="color04">등록</td>
                <td>
                    <select id="sport">
                        <option value="">선택하세요</option>
                        <option th:each="sport: ${sports}" th:value="${sport.sportsName}" th:text="${sport.sportsName}">
                            축구
                        </option>
                    </select>
                </td>
                <td><input type="text" id="name" style="width: 400px;"/></td>
                <td><input type="text" id="nick" style="width: 400px;"/></td>
                <td><a class="btn btn03" onclick="addTeam();" style="width: 126px;">등록</a></td>
            </tr>
            <tr th:each="team,num: ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}"
                th:id="${team.id}">
                <td th:text="${total -  num.count}">1</td>
                <td class="color0" th:text="${team.sports}">스포츠</td>
                <td th:text="${team.teamName}">팀명</td>
                <td><input type="text" name="teamNick" th:value="${team.teamKor}" style="width: 400px;"/></td>
                <td>
                    <a class="btn btn04" th:onclick="|updateTeam(${team.id});|">수정</a>
                    <a class="btn btn02" th:onclick="|deleteTeam(${team.id});|">삭제</a>
                </td>
            </tr>
            <tr th:if="${page.numberOfElements eq 0}">
                <td colspan="5" style="height: 200px;">
                    검색된 팀이 없습니다.
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    function addTeam() {
        if ($('#sport').val() == '') {
            alert('종목을 선택하세요.');
            return false;
        }
        if ($('#name').val() == '') {
            alert('팀명을 입력하세요.');
            $('#name').focus();
            return false;
        }
        if ($('#nick').val() == '') {
            alert('출력팀명을 입력하세요.');
            $('#nick').focus();
            return false;
        }

        $('#frm-add').find('input[name=teamName]').val($('#name').val());
        $('#frm-add').find('input[name=teamKor]').val($('#nick').val());
        $('#frm-add').find('input[name=sports]').val($('#sport').val());
        $('#frm-add').submit();
    }

    function updateTeam(id) {
        var teamObj = $('#' + id).find('input');
        if (teamObj.val() == '') {
            alert('출력팀명을 입력하세요.');
            teamObj.focus();
            return false;
        }

        $('#frm-update').find('input[name=team]').val(teamObj.val());
        $('#frm-update').find('input[name=id]').val(id);
        $('#frm-update').submit();
    }

    function deleteTeam(id) {
        if (confirm('팀을 삭제하면 되살릴 수 없습니다.\n\n팀을 삭제하시겠습니까?')) {
            $('#frm-delete').find('input[name=id]').val(id);
            $('#frm-delete').submit();
        }
    }
</script>
</body>
</html>