<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.thymeleaf.org"
	  layout:decorate="layout/siteLayout" th:with="main='page', gnb='customer', lnb='qna'">
<body>

<section layout:fragment="section">
	<h3>고객상담</h3>

	<form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/customer/qna|}">
		<input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
	</form>

	<div class="payment">
		<a href="#" onclick="payment.account();return false;" class="btn">입금계좌 요청</a><br/>
	</div>

	<div class="board qna">
		<ul class="head">
			<li>No.</li>
			<li>제목</li>
			<li>작성일</li>
			<li>답변</li>
			<li>상태</li>
		</ul>
		<th:block th:each="q, num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
			<ul>
				<li th:text="${total - num.count}">1</li>
				<li class="ellipsis" th:onclick="|viewQna(${q.id});return false;|"><a class="ellipsis" th:text="${q.title}"></a></li>
				<li th:utext="${tag.dayWeekTimes(q.regDate)}"></li>
				<li th:class="${q.re} ? 'color01'" th:text="${q.re} ? '답변' : '대기'"></li>
				<li th:class="${q.checked} ? 'checked' : 'color03 checked'" th:text="${q.checked} ? '확인' : '미확인'"></li>
			</ul>
			<ul th:id="${q.id}" class="contents">
				<li>

					<table class="list game" th:if="${q.bet}">
						<caption>스포츠</caption>
						<colgroup>
							<col style="width: 190px;">
							<col>
							<col style="width: 36px;">
							<col style="width: 218px;">
							<col style="width: 50px;">
							<col>
							<col style="width: 50px;">
							<col style="width: 218px;">
							<col style="width: 36px;">
							<col style="width: 65px;">
						</colgroup>
						<tbody class="betBody" th:each="b : ${q.bets}">
						<tr>
							<th>경기정보</th>
							<th>베팅타입</th>
							<th colspan="3">홈팀</th>
							<th>무</th>
							<th colspan="3">원정팀</th>
							<th>결과</th>
						</tr>
						<tr class="item" th:each="item : ${b.betItems}">
							<td class="info" th:title="${item.league}">
								<img th:src="@{|${tag.sportsFlag(item)}|}"/>
								<img th:src="@{|${tag.leagueFlag(item)}|}"/>
								<span th:remove="tag" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
							</td>
							<td>
								<span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${item.special + ' '}"></span>
								<span th:text="${item.gameCode.name() eq 'ZONE' ? item.sports : item.gameCode.name}">승무패</span>
							</td>
							<td class="over" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'O' : 'H'}">H</td>
							<td th:class="${(item.betTeam eq 'home' ? 'home on' : 'home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
								<span th:remove="tag" th:text="${item.teamHome}">홈팀</span>
								<span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
							</td>
							<td class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}">0</td>
							<td th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE'}"
								th:with="odds=${tag.odds(item.oddsDraw)}"
								th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
								th:text="${odds eq '0.00' ? 'VS' : odds}">
								무
							</td>
							<td th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' ? 'draw hit' : 'draw'}" th:text="${tag.handicap(item.handicap)}">무</td>
							<td class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}">0</td>
							<td th:class="${(item.betTeam eq 'away' ? 'away on' : 'away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
								<span class="odds" th:text="${tag.odds(item.oddsAway)}">0.01</span>
								<span th:remove="tag" th:text="${item.teamAway}">홈팀</span>
							</td>
							<td class="under" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'U' : 'A'}">H</td>
							<td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
						</tr>
						<tr>
							<td class="betInfo" colspan="10">
								<span class="dateDay" th:utext="${tag.dayWeekTimes(b.betDate)}">07/20(토)</span>
								<span class="betMoney">
                    				베팅금액 : <span class="money" th:text="${tag.num(b.betMoney)}">1,000</span>원
								</span>
								<span class="rate">
                    				배당율 : <span class="money" th:text="${tag.odds(b.betOdds)}">1,000</span>배
                				</span>
								<span class="expMoney">
                    				예상금액 : <span class="money" th:text="${tag.num(b.expMoney)}">1,000</span>원
                				</span>
								<span class="hitMoney" style="float: right;" th:if="${b.closing}">
                    				적중금액 : <span class="hit" th:text="${tag.num(b.hitMoney)}">1,000</span>원
                				</span>
							</td>
						</tr>
						</tbody>
					</table>


					<h5 th:text="${q.title}">질문</h5>
					<p>
						<a href="#" th:onclick="|deleteQna(${q.id});return false;|" class="btn btn03">삭제</a>
						<span th:utext="${tag.onlyBr(q.contents)}" th:remove="tag"></span>
					</p>
					<h5 th:if="${q.re}" th:utext="${tag.colorBr(q.reTitle)}">답변</h5>
					<p th:if="${q.re}" th:utext="${tag.colorBr(q.reply)}"></p>
				</li>
			</ul>
		</th:block>


		<ul th:if="${page.numberOfElements eq 0}">
			<li style="height: 300px;line-height: 300px;">등록된 문의가 없습니다.</li>
		</ul>
	</div>
	<div class="command right">
		<a th:href="|${siteConfig.pathSite}/customer/qna/add|" class="btn btn02">문의하기</a>
	</div>
	<div class="paging">
		<ul th:replace="fragments/site :: paging(p=${page})"></ul>
	</div>
</section>

<script layout:fragment="script" th:if="true">
    function viewQna(id) {
        if ($('#' + id).is(':visible')) {
            $('#' + id).slideUp();
        } else {
            $('.contents').slideUp();
            $('#' + id).slideDown();
            showQna(id);
        }
    }

    function showQna(id) {
        $.post(path + '/customer/qna/view', {
            id: id
        }).done(function success(data) {
            if (data.value === 'true') {
                $('#' + id).prev().find('.checked').text('확인').removeClass('color03');
            }
        });
    }

    function deleteQna(id) {
        $.post(path + '/customer/qna/delete', {
            id: id
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });
    }
</script>
</body>
</html>