<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', title='My Page'">
<body>
<main class="page" layout:fragment="page">
    <div class="box color03">
        비밀번호 변경 및 계좌변경은 고객상담을 이용하세요.
    </div>
    <div class="table-wrap">
        <h3>회원정보</h3>
        <table class="table-game table-list">
            <caption>충전 신청</caption>
            <colgroup>
                <col style="width:100px">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <th>아이디</th>
                <td th:text="${member.userid}"></td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td th:text="${member.nickname}"></td>
            </tr>
            <tr>
                <th>Lv.</th>
                <td th:text="${'Lv.' + member.level}"></td>
            </tr>
            <tr>
                <th>은행명</th>
                <td th:text="${member.bank}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-wrap">
        <h3>나의추천인</h3>
        <table class="table-game table-list">
            <caption></caption>
            <colgroup>
            </colgroup>
            <thead>
            <tr>
                <th>닉네임</th>
                <th>가입일</th>
                <th>지급율</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m, i : ${recommList}">
                <td th:text="${m.nickname + ' (Lv.' + m.level + ')'}"></td>
                <td th:utext="${tag.dayWeek(m.joinDate)}"></td>
                <td>
                    S <span class="color01" th:text="${tag.recommOddsSports(m.level) + '%'}"></span>
                    /
                    Z <span class="color03" th:text="${tag.recommOddsZone(m.level) + '%'}"></span>
                </td>
            </tr>
            <tr th:if="${#lists.size(recommList) eq 0}">
                <td style="height: 300px;" colspan="6">등록된 추천인이 없습니다.</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>