@import 'prefix.styl'
@import 'mobile/reset.styl'

@import 'mobile/layout.styl'
@import "mobile/gnb.styl"
@import 'mobile/page.styl'
@import 'mobile/login.styl'
@import 'mobile/main.styl'
@import 'mobile/banner.styl'
@import 'mobile/game.styl'
@import 'mobile/board.styl'
@import 'mobile/card.styl'
@import 'mobile/powerball.styl'
@import 'mobile/sun.styl'
@import 'mobile/switch.styl'
@import 'mobile/bet_info.styl'
@import "mobile/inplay.styl"
@import 'mobile/banking.styl'