<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 관리자 페이지 템플릿 -->
<div class="paging" th:fragment="paging(p)" th:remove="tag">
    <ul th:with="size=10, start=${T(Math).ceil(p.number / size).intValue() * size}, end=${T(Math).ceil(p.number / 10).intValue() * size + size - 1}">
        <li><a href="#" th:onclick="|goPage(1);return false;|" class="first"><i class="fa fa-fast-backward"></i></a></li>
        <li><a href="#" th:onclick="|goPage(${p.first ? 1 : start});return false;|" class="prev"><i class="fa fa-backward"></i></a></li>
        <li th:each="i:${#numbers.sequence(start, end > p.totalPages - 1 ? (p.totalPages > 0 ? p.totalPages - 1 : 0) : end)}">
            <em th:if="${i == p.number}" th:text="${i + 1}">1</em>
            <a th:if="${i != p.number}" th:onclick="|goPage(${i + 1});return false;|" th:text="${i + 1}">2</a>
        </li>
        <li><a href="#" th:onclick="|goPage(${p.totalPages < start + 1 + size ? p.totalPages: start + 1 + size});return false;|" class="next"><i class="fa fa-forward"></i></a></li>
        <li><a href="#" th:onclick="|goPage(${p.totalPages});return false;|" class="last"><i class="fa fa-fast-forward"></i></a></li>
    </ul>
</div>
</html>