<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<title th:text="${siteConfig.companyName}">Best of Stella</title>
	<link rel="shortcut icon" th:href="@{|/images/favicon.png?v=${siteConfig.version}|}">
	<link rel="stylesheet" th:href="@{|/css/style.mobile.css?v=${siteConfig.version}|}">
	<script th:src="@{|/js/jquery-3.1.1.min.js?v=${siteConfig.version}|}"></script>
	<script th:src="@{|/js/angular.min.js?v=${siteConfig.version}|}"></script>
</head>
<body>
<div id="gnb" th:fragment="gnb">
	<div class="gnb-box">
		<header>
			<span th:replace="fragments/mobile :: level(lv=${user.level})"></span>
			<a th:href="@{|${siteConfig.pathSite}/mypage|}">[[${user.nickname}]] <span>님</span></a>
			<a id="btn-close"></a>
		</header>
		<div class="user-info">
			<a th:href="@{|${siteConfig.pathSite}/customer/qna|}"><em>고객상담 : <span class="color03" th:text="${tag.num(user.qna)}">1</span> 건</em></a>
			<a th:href="@{|${siteConfig.pathSite}/customer/memo|}"><em>메시지함 : <span class="color02" th:text="${tag.num(user.memo)}">0</span> 건</em></a>
		</div>
		<main>
			<img th:if="${sysConfig.event.lottoEnabled}" src="/images/lotto.png" id="lotto" style="margin:20px auto 0 auto; display: block;" />
			<div class="main-menu">
				<a th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/m/m-deposit.png"/>충 전</a>
				<a th:href="@{|${siteConfig.pathSite}/payment/withdraw|}"><img src="/images/m/m-withdraw.png"/>환 전</a>

				<th:block th:if="${!sysConfig.zone.gnb.empty}">
					<a th:if="${sysConfig.zone.eos1}" th:href="@{|${siteConfig.pathSite}/zone/eos1|}"><img src="/images/m/m-eos1.png"/>EOS 1분</a>
					<a th:if="${sysConfig.zone.eos2}" th:href="@{|${siteConfig.pathSite}/zone/eos2|}"><img src="/images/m/m-eos2.png"/>EOS 2분</a>
					<a th:if="${sysConfig.zone.eos3}" th:href="@{|${siteConfig.pathSite}/zone/eos3|}"><img src="/images/m/m-eos3.png"/>EOS 3분</a>
					<a th:if="${sysConfig.zone.eos4}" th:href="@{|${siteConfig.pathSite}/zone/eos4|}"><img src="/images/m/m-eos4.png"/>EOS 4분</a>
					<a th:if="${sysConfig.zone.eos5}" th:href="@{|${siteConfig.pathSite}/zone/eos5|}"><img src="/images/m/m-eos5.png"/>EOS 5분</a>

					<a th:if="${sysConfig.zone.ladder}" th:href="@{|${siteConfig.pathSite}/zone/ladder|}"><img src="/images/m/m-sadari.png"/>사다리</a>
					<a th:if="${sysConfig.zone.dari}" th:href="@{|${siteConfig.pathSite}/zone/dari|}"><img src="/images/m/m-dari.png"/>다리다리</a>
					<a th:if="${sysConfig.zone.snail}" th:href="@{|${siteConfig.pathSite}/zone/snail|}"><img src="/images/m/m-dal.png"/>달팽이</a>
					<a th:if="${sysConfig.zone.newSnail}" th:href="@{|${siteConfig.pathSite}/zone/new_snail|}"><img src="/images/m/m-dal.png"/>달팽이</a>
					<a th:if="${sysConfig.zone.power}" th:href="@{|${siteConfig.pathSite}/zone/power|}"><img src="/images/m/m-power.png"/>파워볼</a>
					<a th:if="${sysConfig.zone.powerLadder}" th:href="@{|${siteConfig.pathSite}/zone/power_ladder|}"><img src="/images/m/m-keno-ladder.png"/>파워사다리</a>
					<a th:if="${sysConfig.zone.kenoLadder}" th:href="@{|${siteConfig.pathSite}/zone/keno_ladder|}"><img src="/images/m/m-power-ladder.png"/>키노사다리</a>
					<a th:if="${sysConfig.zone.keno}" th:href="@{|${siteConfig.pathSite}/zone/keno|}"><img src="/images/m/m-keno.png"/>스피드키노</a>
					<a th:if="${sysConfig.zone.aladdin}" th:href="@{|${siteConfig.pathSite}/zone/aladdin|}"><img src="/images/m/m-alradin.png"/>알라딘</a>
					<a th:if="${sysConfig.zone.lowhi}" th:href="@{|${siteConfig.pathSite}/zone/lowhi|}"><img src="/images/m/m-lowhigh.png"/>로하이</a>

					<a th:if="${sysConfig.zone.bitcoin1}" th:href="@{|${siteConfig.pathSite}/zone/bitcoin1|}"><img src="/images/m/m-btc.png"/>BTC 1분</a>
					<a th:if="${sysConfig.zone.bitcoin3}" th:href="@{|${siteConfig.pathSite}/zone/bitcoin3|}"><img src="/images/m/m-btc.png"/>BTC 3분</a>
					<a th:if="${sysConfig.zone.bitcoin5}" th:href="@{|${siteConfig.pathSite}/zone/bitcoin5|}"><img src="/images/m/m-btc.png"/>BTC 5분</a>

					<a th:if="${sysConfig.zone.crownOddeven}" th:href="@{|${siteConfig.pathSite}/zone/cw_oddeven|}"><img src="/images/m/m-oddeven.png"/>홀짝</a></a>
					<a th:if="${sysConfig.zone.crownBaccarat}" th:href="@{|${siteConfig.pathSite}/zone/cw_baccarat|}"><img src="/images/m/m-baccarat.png"/>바카라</a></a>
					<a th:if="${sysConfig.zone.crownSutda}" th:href="@{|${siteConfig.pathSite}/zone/cw_sutda|}"><img src="/images/m/m-sutda.png"/>섯다</a></a>

					<a th:if="${sysConfig.zone.oddeven}" th:href="@{|${siteConfig.pathSite}/zone/oddeven|}"><img src="/images/m/m-oddeven.png"/>OZ홀짝</a>
					<a th:if="${sysConfig.zone.baccarat}" th:href="@{|${siteConfig.pathSite}/zone/baccarat|}"><img src="/images/m/m-baccarat.png"/>OZ바카라</a>
					<a th:if="${sysConfig.zone.soccer}" th:href="@{|${siteConfig.pathSite}/zone/soccer|}"><img src="/images/m/m-soccer.png"/>가상축구</a>
					<a th:if="${sysConfig.zone.dog}" th:href="@{|${siteConfig.pathSite}/zone/dog|}"><img src="/images/m/m-dog.png"/>개경주</a>
					<a th:if="${sysConfig.zone.luck}" th:href="@{|${siteConfig.pathSite}/zone/luck|}"><img src="/images/m/m-luck.png"/>세븐럭</a>
				</th:block>

				<a th:if="${siteConfig.casino}" th:href="@{|${siteConfig.pathSite}/casino/evolution|}"><img src="/images/m/m-casino.png"/>카지노</a>
				<a th:if="${not siteConfig.casino}" onclick="alert('현재 점검중입니다.');"><img src="/images/m/m-casino.png"/>카지노</a>

				<a th:if="${siteConfig.casino}" th:href="@{|${siteConfig.pathSite}/casino/slot|}"><img src="/images/m/m-slot.png"/>슬롯</a>
				<a th:if="${not siteConfig.casino}" onclick="alert('현재 점검중입니다.');"><img src="/images/m/m-slot.png"/>슬롯</a>

				<a th:href="@{|${siteConfig.pathSite}/score/cross|}"><img src="/images/m/m-result.png"/>경기결과</a>
				<a th:href="@{|${siteConfig.pathSite}/betting|}"><img src="/images/m/m-betlist.png"/>베팅내역</a>
				<a th:href="@{|${siteConfig.pathSite}/board/free|}"><img src="/images/m/m-freeboard.png"/>자유게시판</a>
				<a th:href="@{|${siteConfig.pathSite}/board/notice|}"><img src="/images/m/m-notice.png"/>공지사항</a>
				<a th:href="@{|${siteConfig.pathSite}/board/event|}"><img src="/images/m/m-event.png"/>이벤트</a>
				<a th:href="@{|${siteConfig.pathSite}/customer/qna|}"><img src="/images/m/m-customer.png"/>고객상담</a>
				<a th:if="${sysConfig.event.daily}" th:href="@{|${siteConfig.pathSite}/event/daily|}"><img src="/images/m/m-daily.png"/>출석체크</a>
				<br/>
<!--				<img src="/images/kakao.png" style="margin-top:20px;"/><br/>-->
<!--				<img src="/images/telegram.png" style="margin-top:10px;"/>-->
			</div>

		</main>
	</div>
</div>
<div th:fragment="javascript" th:remove="tag">
	<script th:src="@{|/js/common.js?v=${siteConfig.version}|}"></script>
	<script th:if="${mode ne 'login'}" th:src="@{|/js/common.mobile.js?v=${siteConfig.version}|}"></script>
	<script th:if="${mode eq 'login'}" th:src="@{|/js/common.join.js?v=${siteConfig.version}|}"></script>
</div>
</body>
</html>