<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='agency', lnb='joinCode'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>대리점 관리:</small>
    가입 코드
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bullhorn"></i>
                가입 코드
                <span class="total">( 검색된 코드수 : <span th:text="${tag.num(#arrays.length(list))}">100</span> 개 )</span>
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>
                <col style="width: 140px;">
                <col>
				<col>
				<col>
                <col>
                <col>
                <col>
                <col style="width: 140px;">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>코드</th>
				<th>총본사</th>
				<th>부본사</th>
                <th>총판</th>
                <th>매장</th>
                <th>비고</th>
                <th>사용유무</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m, num : ${list}" th:with="total=${#arrays.length(list) + 1}">
                <td th:text="${total - num.count}">1</td>
                <td class="color01" th:text="${m.code}">코드</td>
				<td th:text="${#strings.defaultString(m.agency4, '-')}">총판</td>
				<td th:text="${#strings.defaultString(m.agency3, '-')}">총판</td>
                <td th:text="${#strings.defaultString(m.agency2, '-')}">총판</td>
                <td th:text="${#strings.defaultString(m.agency1, '-')}">대리점</td>
                <td th:text="${#strings.defaultString(m.memo, '-')}">메모</td>
                <td th:class="${m.enabled ? 'color04' : 'color03'}" th:text="${m.enabled ? '사용' : '미사용'}"></td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

</script>
</body>
</html>