<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='customer', lnb='memo'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>고객응대 :</small>
    쪽지발송
</h2>
<div layout:fragment="content">
    <section>
        <form th:object="${add}" method="post" onsubmit="return add();">
            <div class="panel-header">
                <h3>
                    <i class="bul fa fa-envelope"></i>
                    쪽지발송
                </h3>
            </div>
            <table class="table-read">
                <caption>쪽지 발송</caption>
                <colgroup>
                    <col style="width: 140px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">총판/대리점</th>
                    <td>
                        <label>
                            <input type="radio" th:field="*{userType}" th:value="''"/>
                            전체쪽지
                        </label>
                        <label>
                            <input type="radio" th:field="*{userType}" th:value="'money'"/>
                            입금회원
                        </label>
                        <label>
                            <input type="radio" th:field="*{userType}" th:value="'none'"/>
                            미입금회원
                        </label>
						<label>
							총본사 :
							<select th:field="*{agency4}">
								<option value="">선택하세요.</option>
							</select>
						</label>
						<label>
							부본사 :
							<select th:field="*{agency3}">
								<option value="">선택하세요.</option>
							</select>
						</label>
                        <label>
                            총판 :
                            <select th:field="*{agency2}">
                                <option value="">선택하세요.</option>
                            </select>
                        </label>
                        <label>
                            매장 :
                            <select th:field="*{agency1}">
                                <option value="">선택하세요.</option>
                            </select>
                        </label>
                        <label>
                            등급 :
                            <select th:field="*{level}">
                                <option th:value="0" th:text="전체등급"></option>
                                <option th:each="level : ${#numbers.sequence(1, 10)}" th:value="${level}" th:text="${level + '등급'}"></option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">제목</th>
                    <td><input type="text" th:field="*{title}" style="width: 100%;"/></td>
                </tr>
                <tr>
                    <th class="required">내용</th>
                    <td><textarea th:field="*{contents}" style="width: 100%; height: 300px;"></textarea></td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn03">등록</button>
                <a onclick="history.back();" class="btn">취소</a>
            </div>
        </form>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    var agencies = [(${agencies})];
    var agency2 = '';
    agencies.forEach(function (agency) {
        if (agency4 !== agency.agency4) {
            $('#agency4').append('<option value="' + agency.agency4 + '">' + agency.agency4 + '</option>');
            agency4 = agency.agency4;
        }
    });

    $('#agency4').on('change', function () {
        var agency4 = $('#agency4').val();
        var agency3 = '';
        $('#agency3').html('').append('<option value="">선택하세요.</option>');
        agencies.forEach(function (agency) {
            if (agency4 === agency.agency4 && agency.agency3 != null && agency.agency3 !== '' && agency3 !== agency.agency3) {
                $('#agency3').append('<option value="' + agency.agency3 + '">' + agency.agency3 + '</option>');
            }
            agency3 = agency.agency3;
        });
        $('#agency3').change();
    });

    $('#agency3').on('change', function () {
        var agency3 = $('#agency3').val();
        var agency2 = '';
        $('#agency2').html('').append('<option value="">선택하세요.</option>');
        agencies.forEach(function (agency) {
            if (agency3 === agency.agency3 && agency.agency2 != null && agency.agency2 !== '' && agency2 !== agency.agency2) {
                $('#agency2').append('<option value="' + agency.agency2 + '">' + agency.agency2 + '</option>');
            }
            agency2 = agency.agency2;
        });
        $('#agency2').change();
    });

    $('#agency2').on('change', function () {
        var agency2 = $('#agency2').val();
        var agency1 = '';
        $('#agency1').html('').append('<option value="">선택하세요.</option>');
        agencies.forEach(function (agency) {
            if (agency2 === agency.agency2 && agency.agency1 != null && agency.agency1 !== '' && agency1 !== agency.agency1) {
                $('#agency1').append('<option value="' + agency.agency1 + '">' + agency.agency1 + '</option>');
            }
            agency1 = agency.agency1;
        });
        $('#agency1').change();
    });

    function add() {
        if ($('#title').val() === '') {
            alert('제목을 입력 하세요.');
            $('#title').focus();
            return false;
        }
        if ($('#contents').val() === '') {
            alert('제목을 입력 하세요.');
            $('#contents').focus();
            return false;
        }

    }
</script>
</body>
</html>