<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.thymeleaf.org"
	  layout:decorate="layout/adminLayout" th:with="gnb='inplay', lnb='market'">
<head></head>
<body>
<h2 layout:fragment="title">
	<small>인플레이 :</small>
	마켓설정
</h2>
<div layout:fragment="content">

	<section>
		<div class="panel-header">
			<h3>
				<i class="bul fa fa-futbol-o"></i>
				인플레이 마켓설정
			</h3>
		</div>
		<table class="table-list">
			<caption>종목 설정</caption>
			<colgroup>
				<col style="width: 100px;">
				<col>
				<col>
				<col>
				<col>
				<col>
				<col>
				<col style="width: 180px;">
			</colgroup>
			<thead>
			<tr>
				<th>아이디</th>
				<th>마켓</th>
				<th>노출명</th>
				<th>메뉴</th>
				<th>팀별</th>
				<th>라인</th>
				<th>정렬</th>
				<th>사용여부</th>
				<th>관리</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="market,num : ${list}" th:with="total = ${#arrays.length(list) + 1}">
				<td th:text="${market.id}">1</td>
				<td class="color0" th:text="${market.name}">축구</td>
				<td class="color03" th:text="${market.korName}">축구</td>
				<td th:text="${market.menu}">축구</td>
				<td th:text="${market.team} ? 'Y' : 'N'">축구</td>
				<td th:text="${market.line}">축구</td>
				<td>
					<button class="btn btn02" th:onclick="|sortUp(${market.id});|">▲</button>
					<button class="btn btn01" th:onclick="|sortDown(${market.id});|">▼</button>
				</td>
				<td th:class="${market.enabled} ? 'color02'" th:text="${market.enabled ? '사용' : '사용안함'}">사용어부</td>
				<td>
					<a class="btn btn04" th:onclick="|update('${market.id}');|">수정</a>
				</td>
			</tr>
			<tr th:if="${list.empty}">
				<td colspan="8" class="empty">
					검색된 종목이 없습니다.
				</td>
			</tr>
			</tbody>
		</table>
	</section>
</div>
<script layout:fragment="script" th:if="true">
    function update(id) {
        window.open(path + '/inplay/market/update?id=' + id, 'inplay-market-update', 'width=800, height=800');
    }

    function sortUp(id) {
        $.post(path + '/inplay/market/up', {
            id: id
        }).done(function (data) {
			if (data.success) {
			    location.reload();
			}
        });
    }

    function sortDown(id) {
        $.post(path + '/inplay/market/down', {
            id: id
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });
    }
</script>
</body>
</html>