<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.thymeleaf.org" th:with="tag = ${T(spoon.support.web.CustomTag)}">
<head th:replace="fragments/siteFragment :: head">
	<meta charset="UTF-8"/>
	<title>Best of Stella</title>
	<link rel="shortcut icon" th:href="@{/images/favicon.png?v=${siteConfig.version}|}}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	<script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
</head>
<body>
<div data-relative-input="true" id="background">
	<div class="bg01" data-depth="0.1"></div>
</div>
<div class="page-bg"></div>
<div class="page-gradient"></div>
<div class="page-wrap">
	<div class="login-wrap" layout:fragment="login">
		여기에 내용이 옵니다.
	</div>
</div>
<script layout:fragment="script" th:if="false"></script>
<div th:replace="fragments/siteFragment :: javascript"></div>
</body>
</html>