<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='luck', title='세븐럭 경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/luck/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>
    <div class="table-wrap">
        <table class="table-game table-list">
            <caption>세븐럭</caption>
            <colgroup>

            </colgroup>
            <thead>
            <tr>
                <th>일자</th>
                <th>회차</th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>무늬</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="g : ${page.content}">
                <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
                <td class="color03" th:text="${tag.round(g.round, 3)}"></td>
                <td th:with="p1 = ${#strings.substring(g.result, 0, 1)}">
                    <span th:if="${p1 eq '1'}" class="color01">P</span>
                    <span th:if="${p1 eq '0'}" class="color02">D</span>
                    <span th:if="${p1 eq '2'}" class="color03">T</span>
                </td>
                <td th:with="p2 = ${#strings.substring(g.result, 1, 2)}">
                    <span th:if="${p2 eq '1'}" class="color01">P</span>
                    <span th:if="${p2 eq '0'}" class="color02">D</span>
                    <span th:if="${p2 eq '2'}" class="color03">T</span>
                </td>
                <td th:with="p3 = ${#strings.substring(g.result, 2, 3)}">
                    <span th:if="${p3 eq '1'}" class="color01">P</span>
                    <span th:if="${p3 eq '0'}" class="color02">D</span>
                    <span th:if="${p3 eq '2'}" class="color03">T</span>
                </td>
                <td>
                    <span th:if="${g.card eq 'S'}" class="color0">♠</span>
                    <span th:if="${g.card eq 'D'}" class="color03">◆</span>
                    <span th:if="${g.card eq 'H'}" class="color03">♥</span>
                    <span th:if="${g.card eq 'C'}" class="color0">♣</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>